---
title: 'Arch-Tempered Leaderboards'
quests:
    - 9★-a-whisper-of-white-mane
    - 9★-the-deathly-quiet-curtain
    - 9★-like-a-moth-to-the-flame
    - 9★-the-eye-of-the-storm
    - 9★-the-heralds-of-destruction-cry
    - 9★-the-scorn-of-the-sun
    - 9★-when-blue-dust-surpasses-red-lust
---

<p>A leaderboard that tracks the top times for fastest Arch-Tempered runs!</p>
