---
title: 'Delbuster Cup'
quests:
    - 9★-delbuster-cup
---

<p>A community event for running a custom Arena-styled quest!</p>

<p>Download the <a href="https://www.nexusmods.com/monsterhunterworld/mods/1433/">Delbuster Cup</a> mod.</p>

<div style="margin-bottom: var(--blockSpacingBottom);">
    {% set video = 'https://www.youtube.com/embed/H2hs07YeEtk' %}
    {% include "components/video.njk" %}
</div>
