---
title: 'utakata杯'
show_intro: false
quests:
    - 7★-special-arena-hr-legiana
weapon: []
ruleset: freestyle
---

<p>A community event to slay a Legiana in the Special Arena with strong restrictions.</p>

<ul>
    <li><a href="https://utakatamh.blogspot.com/2019/06/utakata_23.html">utakata杯 結果発表</a></li>
    <li><a href="https://docs.google.com/document/d/1W_H4KmoaoDT7J2umOry24nuiHaRp2TVmYDqsEC7Emjo/edit">Utakata Cup rules</a></li>
</ul>
