---
title: 'utakata杯'
quests:
    - 7★-special-arena-hr-legiana
meta:
    Source: <a href="https://utakatamh.blogspot.com/2019/06/utakata_23.html">utakata杯 結果発表</a>
    Rules: <a href="https://docs.google.com/document/d/1W_H4KmoaoDT7J2umOry24nuiHaRp2TVmYDqsEC7Emjo/edit">Utakata Cup rules</a>
---

<p>A community event to slay a Legiana in the Special Arena with strong restrictions.</p>
