---
layout: layouts/base.njk
title: Monster Hunter World Leaderboards
---

<c span="row">
    <h2>Locations</h2>
</c>

{% for item in collections.locations %}
    <c span=3{% if page.url == item.url %} class="active"{% endif %}>
        <img src="{{ '/assets/img/thumb.png' | url }}" class="h-6 fill" />
        <a href="{{ item.url | url }}">
            {{- item.data.title -}}
        </a>
    </c>
{% endfor  %}

<c span="row">
    <h2>Weapons</h2>
</c>

{% for item in collections.weapons %}
    <c span=3{% if page.url == item.url %} class="active"{% endif %}>
        <img src="{{ '/assets/img/thumb.png' | url }}" class="h-6 fill" />
        <a href="{{ item.url | url }}">
            {{- item.data.title -}}
        </a>
    </c>
{% endfor  %}

<hr>

{# --- footer-ish, with limits --- #}
<c span=4>
    <h2>Locations</h2>
    <ul class="compact">
        {% for item in collections.locations %}
            <li
                {% if page.url == item.url %} class="active"{% endif %}>
                <a href="{{ item.url | url }}">
                    {{- item.data.title -}}
                </a>
            </li>
        {% endfor  %}
    </ul>
</c>

<c span=4>
    <h2>Quests</h2>
    <ul class="compact">
        {% for item in collections.quests %}
            {# -- quests are sub-divided per quest type -- #}
            <li
                {% if page.url == item.url %} class="active"{% endif %}>
                <a href="{{ item.url | url }}">
                    {{- item.data.title -}}
                </a>
            </li>
        {% endfor  %}
    </ul>
</c>

<c span=4>
    <h2>Monsters</h2>
    <ul class="compact">
        {% for item in collections.monsters %}
            {% if loop.index0 < 14 %}
                <li
                    {% if page.url == item.url %} class="active"{% endif %}>
                    <a href="{{ item.url | url }}">
                        {{- item.data.title -}}
                    </a>
                </li>
            {% endif %}
        {% endfor  %}
    </ul>
</c>

<c span=4>
    <h2>Weapons</h2>
    <ul class="compact">
        {% for item in collections.weapons %}
            <li
                {% if page.url == item.url %} class="active"{% endif %}>
                <a href="{{ item.url | url }}">
                    {{- item.data.title -}}
                </a>
            </li>
        {% endfor  %}
    </ul>
</c>

<c span=4>
    <h2>Runners</h2>
    <ul class="compact">
        {% for item in collections.runners %}
            {% if loop.index0 < 14 %}
                <li
                    {% if page.url == item.url %} class="active"{% endif %}>
                    <a href="{{ item.url | url }}">
                        {{- item.data.title -}}
                    </a>
                    {#
                    {% for weapon in item.data.weapons %}
                        <span class="weapon-icon weapon-icon-{{ weapon }}"></span>
                    {% endfor %}
                    #}
                    {% if item.data.country %}
                        <span class="flag-icon flag-icon-{{ item.data.country }}"></span>
                    {% endif %}
                </li>
            {% endif %}
        {% endfor  %}
    </ul>
</c>

<c span=4>
    <h2>Runs</h2>
    <ul class="compact">
        {% for item in collections.runs %}
            {% if loop.index0 < 14 %}
                <li
                    {% if page.url == item.url %} class="active"{% endif %}>
                    <a href="{{ item.url | url }}">
                        {{- item.data.title -}}
                    </a>
                </li>
            {% endif %}
        {% endfor  %}
    </ul>
</c>

{# -- Test simple filter function -- #}
{# -- does not work!
{{ collections | findAll('runner', 'country', 'us') | dump }}
#}
