---
title: My Posts
layout: layouts/listing.njk
pagination:
    data: collections.post
    size: 100
    alias: posts
    reverse: true
    # addAllPagesToCollections: true
permalink: /posts/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}index.html
---

<h1>Posts</h1>

<ul>
    {% for post in posts %}
        <li>
            <a href="{{ post.url | url }}">
                {{- post.data.title -}}
            </a>
        </li>
    {% endfor %}
</ul>
