---
title: Readme
tags:
    - foo
    - bar
    - post
date: 2019-05-25
# permalink: false # still available in collection, but no separate page for itself!

# Custom data goes here
foo: bar
bar: baz
---

<h1>Readme bois</h1>

{{ foo }}
{{ bar }}

<p>This is a test for using global data structures with lookup and other stuff.</p>

<ul>
{% for slug in monsters %}
    {% set typeSingular %}monster{% endset %}
    {% set typePlural %}monsters{% endset %}
    {% set itemUrl %}/{{ typePlural }}/{{ slug }}{% endset %}
    <li>
        <a href="{{ itemUrl | url }}">
            {{ collections.lookup[ typeSingular ][ slug ].data.title }}
        <a>
    </li>
{% endfor %}
</ul>

<ul>
{% for slug in weapons %}
    {% set typeSingular %}weapon{% endset %}
    {% set typePlural %}weapons{% endset %}
    {% set itemUrl %}/{{ typePlural }}/{{ slug }}{% endset %}
    <li>
        <a href="{{ itemUrl | url }}">
            {{ collections.lookup[ typeSingular ][ slug ].data.title }}
        <a>
    </li>
{% endfor %}
</ul>

<ul>
{% for slug in locations %}
    {% set typeSingular %}location{% endset %}
    {% set typePlural %}locations{% endset %}
    {% set itemUrl %}/{{ typePlural }}/{{ slug }}{% endset %}
    <li>
        <a href="{{ itemUrl | url }}">
            {{ collections.lookup[ typeSingular ][ slug ].data.title }}
        <a>
        [{{ slug }}]
    </li>
{% endfor %}
</ul>


<p>Dummy text for weapons were taken from:</p>
<ul>
    <li>http://game.capcom.com/manual/MHW_PC/en/steam/page/8/1</li>
    <li>http://game.capcom.com/manual/MHW_PC/en/steam/page/9/1</li>
</ul>
