---
title: Examples
---

<h1>Example Runner</h1>

<ul>
    <li>The filename is important, should be all lowercase and spaces become hyphens, so <b>Jin Furai</b> becomes <b>jin-furai</b>. This is called the "slug."</li>
    <li>The file extension is <b>.md</b>, so it becomes <b>jin-furai.md</b>.</li>
    <li>The filename (slug) will be used when entering a run that references this runner.</li>
    <li>Then in the file, use the formatting below.</li>
    <li><b>title</b>: This is the (nick) name</li>
    <li><b>twitter</b>, <b>youtube</b>, <b>twitch</b>, <b>patreon</b>: Enter full URLs (with https://), or leave empty if you don't have it.</li>
    <li><b>country</b>: A two-letter country code for the country you wanna represent. It's a fun thing. Leave empty if you do not want a flag next to your name.</li>
    <li><b>weapons</b>: This runner will be shown on the <a href="/runners/">Weapon Masters</a> section. Below are all weapon options. Delete the weapons that are not relevant.</li>
</ul>

<pre pre style="border: 1px solid black; padding: 1em;">
---
title   : Jin Furai
twitter : https://twitter.com/jinfurai
youtube : https://www.youtube.com/channel/UCcnnKzgJjtkDoHHtH2ePcMA
twitch  : https://www.twitch.tv/jinfurai
patreon :
country : us
weapons :
    - great-sword
    - long-sword
    - sword-and-shield
    - dual-blades
    - hammer
    - hunting-horn
    - lance
    - gunlance
    - switch-axe
    - charge-blade
    - insect-glaive
    - bow
    - light-bowgun
    - heavy-bowgun
---
</pre>


<h1>Example Run</h1>
<ul>
    <li>The filename is not important, but it's useful for editing in the future.</li>
    <li>My format is <b>yyyy-mm-dd--weapon--quest-name.md</b>, e.g. <b>2019-01-05--gs--8★-blue-prominence.md</b>. Then I'll put the run in a separate directory per runner.</li>
    <li><b>title</b>: Optional. Enter a cool name for you run. Leave empty if you want it to auto-generate.</li>
    <li><b>video</b>: Enter an embed link, like <b>https://www.youtube.com/embed/EXAMPLE</b>.</li>
    <li><b>run_type</b>: <b>freestyle</b> or <b>ta-wiki-rules</b>. But mostly it's <b>freestyle</b>.</li>
    <li><b>platform</b>: <b>pc</b>, <b>ps4</b>, or <b>xbox</b></li>
    <li><b>patch_version</b>: If you still know the patch version</li>
    <li><b>date</b>: Date in <b>yyyy-mm-dd</b> format</li>
    <li><b>time</b>: Use the full format, like <b>01'23"45</b>.</li>
    <li><b>quest</b>: Use the quest slug. Easiest is to check is going to the <a href="/quests/">Quests</a> list and then copy the part in the URL.</li>
    <li><b>runners</b>: List of runners. Use the "slugs" of the runners. Easiest is to check the <a href="/runners/">Runners</a> list and then copy the part in the URL.</li>
    <li><b>weapons</b>: List of all weapons used in this run. Delete the weapons that are not used.</li>
</ul>

<pre pre style="border: 1px solid black; padding: 1em;">
---
title          :
video          : https://www.youtube.com/embed/EXAMPLE
video_type     : youtube
run_type       : freestyle
platform       : ps4
patch_version  :
date           : 2019-01-01
time           : 09'99"99
quest          : 8★-blue-prominence

runners:
    - jin-furai
    - tsc

weapons:
    - great-sword
    - long-sword
    - sword-and-shield
    - dual-blades
    - hammer
    - hunting-horn
    - lance
    - gunlance
    - switch-axe
    - charge-blade
    - insect-glaive
    - bow
    - light-bowgun
    - heavy-bowgun
---
</pre>



<style>
    form > div {
        margin-top: var(--blockSpacingTop);
        margin-bottom: var(--blockSpacingBottom);
    }
    form > div::after {
        content: "";
        clear: both;
        display: table;
    }

    form > div > label {
        float: left;
        width: 10em;
    }
    form > div > [type="text"] {
        float: left;
        width: 20em;
    }

    form > div > textarea {
        width: 20em;
        float: left
    }

    form > div > .checkboxes {
        float: left;
    }
</style>

<h1>Example Runner Form</h1>
<form action="" method="post">

    <div>
        <label for="runner__title">Name</label>
        <input id="runner__title" type="text" name="title" />
    </div>

    <div>
        <label for="runner__twitter">Twitter</label>
        <input id="runner__twitter" type="text" name="twitter" placeholder="https://www.twitter.com/XXX" />
    </div>

    <div>
        <label for="runner__youtube">Youtube</label>
        <input id="runner__youtube"type="text" name="youtube" placeholder="https://www.youtube.com/XXX" />
    </div>

    <div>
        <label for="runner__twitch">Twitch</label>
        <input id="runner__twitch"type="text" name="twitch" placeholder="https://www.twitch.tv/XXX" />
    </div>

    <div>
        <label for="runner__patreon">Patreon</label>
        <input id="runner__patreon"type="text" name="patreon" placeholder="https://www.patreon.com/XXX" />
    </div>

    <div>
        <label for="runner__country">Country</label>
        <input id="runner__country"type="text" name="country" placeholder="us" />
    </div>

    <div>
        <label>Weapons</label>
        <div class="checkboxes">
            {% for weaponSlug in global_weapons %}
                {% set weapon = collections.lookup.weapon[ weaponSlug ] %}
                <label for="runner__weapon__{{ weaponSlug }}">
                    <input id="runner__weapon__{{ weaponSlug }}" type="checkbox" name="weapons[]" value="{{ weaponSlug }}" />
                    {{ weapon.data.title }}
                </label>
            {% endfor %}
        </div>
    </div>

    <div>
        <label for="runner__notes">Notes</label>
        <textarea id="runner_notes" name="notes" placeholder="Notes, comments, bilibili link, discord link, etc."></textarea>
    </div>
    <input type="submit">
</form>

<h1>Example Run Form</h1>
<form action="" method="post">

    <div>
        <label for="XXX">Video (Embed URL)</label>
        <input id="XXX" type="text" name="XXX" placeholder="https://www.youtube.com/embed/XXX" />
        <div style="clear: left">
            <p>Other sites than Youtube are allowed (e.g. bilibili), but some may not work nice with this website.</p>
        </div>
    </div>

    <div>
        <label for="run__run_type">Ruleset</label>
        <select id="run__run_type" name="run_type">
            {% for item in rulesets %}
                <option value="{{ item }}">{{ item | label }}</option>
            {% endfor %}
        </select>
    </div>

    <div>
        <label for="run__platform">Platform</label>
        <select id="run__platform" name="platform">
            {% for item in platforms %}
                <option value="{{ item }}">{{ item | label }}</option>
            {% endfor %}
        </select>
    </div>

    <div>
        <label for="run__patch_version">Patch</label>
        <input id="run__patch_version" type="text" name="patch_version" />
    </div>

    <div>
        <label for="run__date">Date</label>
        <input id="run__date" type="text" name="date" placeholder="yyyy-mm-dd" />
    </div>

    <div>
        <label for="run__time">Time</label>
        <input id="run__time" type="text" name="time" placeholder="00'00&quot;00" pattern="[0-5][0-9]\u0027[0-5][0-9]\u0022[0-9]{2}" required />
        <div style="clear: left">
            <p>Format like <code>00'00"00</code> or <code>59'59"99</code></p>
        </div>
    </div>

    <div>
        <label for="run__quest">Quest</label>
        <select id="run__quest" name="quest">
            {% for quest in collections.quests %}
                <option value="{{ quest.fileSlug }}">{{ quest.data.title }}</option>
            {% endfor %}
        </select>
    </div>

    <div>
        <label for="run__runners">Runners</label>
        {# --- Disable submissions of multiplayer runs for now --- #}
        {# ---
        <select id="run__runners" name="runners[]" multiple>
        --- #}
        <select id="run__runners" name="runners">
            {% for runner in collections.runners %}
                <option value="{{ runner.fileSlug }}">{{ runner.data.title }}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="run__weapons">Weapons</label>
        <select id="run__weapons" name="weapons">
            {% for weaponSlug in global_weapons %}
                {% set weapon = collections.lookup.weapon[ weaponSlug ] %}
                    <option value="{{ weaponSlug }}">{{ weapon.data.title }}</option>
            {% endfor %}
        </select>
        {#
        {% for weaponSlug in global_weapons %}
            {% set weapon = collections.lookup.weapon[ weaponSlug ] %}
            <label for="run__weapon__{{ weaponSlug }}">
                <input id="run__weapon__{{ weaponSlug }}" type="checkbox" name="weapons[]" value="{{ weaponSlug }}" />
                {{ weapon.data.title }}
            </label>
        {% endfor %}
        #}
    </div>
    <input type="submit">
</form>
