---
title: Leaderboards
---
{% import "components/macros.njk" as macros %}

<h1>Leaderboards</h1>

{% set leaderboards = {
    "/leaderboards/master-hunter/"    : "Master Hunter",
    "/leaderboards/master-hunter-ta/" : "Master Hunter (TA Wiki Rules)"
} %}

<h2>Any weapon</h2>
<ul>
    {% for leaderboardLink, leaderboardTitle in leaderboards %}
    <li>
        <a href="{{ leaderboardLink }}">{{ leaderboardTitle }}</a>
    </li>
    {% endfor %}
</ul>

<h2>Weapon Leaderboards</h2>
<h3>Freestyle</h3>
<ul>
    {% for weaponSlug in global_weapons %}
        {% set weapon = collections.lookup.weapon[weaponSlug] %}
        <li>
            <a href="/leaderboards/weapon/{{ weapon.fileSlug }}">{{ weapon.data.title }}</a>
        </li>
    {% endfor %}
</ul>


<h3>TA Wiki Rules</h3>
<ul>
    {% for weaponSlug in global_weapons %}
        {% set weapon = collections.lookup.weapon[weaponSlug] %}
        <li>
            <a href="/leaderboards/ta-wiki-rules/weapon/{{ weapon.fileSlug }}">{{ weapon.data.title }}</a>
        </li>
    {% endfor %}
</ul>
