---
title: Locations
---
{% import "components/macros.njk" as macros %}

<h1>{{ title }}</h1>
<div class="card-list">
    {% for slug in locations %}
        {% set item = collections.lookup.location[ slug ] %}
        {{ macros.card(
            image    = '/assets/img/location/' + slug + '.webp',
            url      = item.url,
            title    = item.data.title,
            subtitle = "Explore →"
        ) }}
    {% endfor %}
</div>
