---
title: Monsters
---
{% import "components/macros.njk" as macros %}

<h1>{{ title }}</h1>
<div class="card-list">
    {% for slug in monsters %}
        {% set item = collections.lookup.monster[ slug ] %}
        {{ macros.card(
            image    = '/assets/img/monster/' + slug + '.jpg',
            url      = item.url,
            title    = item.data.title,
            subtitle = item.data.species
        ) }}
    {% endfor %}
</div>
