---
title: Monsters
---

<h1>{{ title }}</h1>
<div class="card-list">
    {% for slug in monsters %}
        {% set item = collections.lookup.monster[ slug ] %}
        {% set card = {
            image    : '/assets/img/monster/' + slug + '.jpg',
            url      : item.url,
            title    : item.data.title,
            subtitle : item.data.species
        } %}
        {% include "components/card.njk" %}
    {% endfor %}
</div>
