---
layout: layouts/base.njk
title: Playground
---

    <style>
        table, tr, td, th {
            border : 1px solid;
        }
        th {
            padding: 0.5em;
            vertical-align: bottom;
            text-align: center;
        }
        th img {
            width: 32px;
            height: 32px;
        }
        td img {
            width: 32px;
            height: 32px;
        }
        td {
            padding: 0.5em;
            vertical-align: middle;
            text-align: center;
        }
    </style>
    <h1>Leaderboards</h1>
    <table border="1">
        <tr>
            <th scope="col">Rank</th>
            <th scope="col">Runner</th>
            <th scope="col"><img src="/assets/img/achievement-small/miniature-crown-master.jpg" alt="Gold Trophy" /></th>
            <th scope="col"><img src="/assets/img/achievement-small/miniature-crown-collector.jpg" alt="Silver Trophy" /></th>
            <th scope="col"><img src="/assets/img/achievement-small/miniature-crown.jpg" alt="Bronze Trophy" /></th>
            <th scope="col">Total Trophies</th>
        </tr>
        {% for trophyCollection in collections.xxx %}
            {% set runner = trophyCollection.runner %}
            <tr>
                <td>
                    {% if loop.index == 1 %}
                        <img  src="/assets/img/achievement-small/giant-crown-master.jpg" alt="" />
                    {% elseif loop.index == 2 %}
                        <img src="/assets/img/achievement-small/giant-crown-collector.jpg" alt="" />
                    {% elseif loop.index == 3 %}
                        <img src="/assets/img/achievement-small/giant-crown.jpg" alt="" />
                    {% else %}
                        {{ loop.index }}
                    {% endif %}
                </td>
                <td scope="row">
                    <a href="{{ runner.url | url }}">{{- runner.data.title -}}</a>
                    {% if runner.data.country %}
                        <span class="flag-icon flag-icon-{{ runner.data.country }}"></span>
                    {% endif %}
                </td>
                <td>{{ trophyCollection.gold }}</td>
                <td>{{ trophyCollection.silver }}</td>
                <td>{{ trophyCollection.bronze }}</td>
                <td>{{ trophyCollection.gold + trophyCollection.silver + trophyCollection.bronze }}</td>
            </tr>
            <tr hidden>
                <td colspan=5>
                    {% for trophy in trophyCollection.trophies %}
                        {% set weaponSlug = trophy.run.data.weapons | first %}
                        {% set weapon = collections.lookup.weapon[ weaponSlug ] %}
                        <img src="/assets/img/achievement-small/miniature-crown-master.jpg" alt="" />
                        <a href="{{ trophy.run.url }}">
                            Rank <strong>{{ trophy.rank }}</strong> in <strong>{{ trophy.quest.data.title }}</strong> with <strong>{{ weapon.data.title }}</strong>.
                        </a>
                        {% if not loop.last %}
                            <br>
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>

<h1>Heading 1</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut dolor varius magna tincidunt varius. Duis quis
    enim rutrum, venenatis metus lobortis, malesuada arcu. Suspendisse in leo eget ligula venenatis iaculis ac a
    nisl. Aenean lacus lacus, fringilla eu consectetur nec, facilisis ut velit. Lorem ipsum dolor sit amet,
    consectetur adipiscing elit. In hac habitasse platea dictumst.</p>
<h2>Heading 2</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut dolor varius magna tincidunt varius. Duis quis
    enim rutrum, venenatis metus lobortis, malesuada arcu. Suspendisse in leo eget ligula venenatis iaculis ac a
    nisl. Aenean lacus lacus, fringilla eu consectetur nec, facilisis ut velit. Lorem ipsum dolor sit amet,
    consectetur adipiscing elit. In hac habitasse platea dictumst.</p>
<h3>Heading 3</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut dolor varius magna tincidunt varius. Duis quis
    enim rutrum, venenatis metus lobortis, malesuada arcu. Suspendisse in leo eget ligula venenatis iaculis ac a
    nisl. Aenean lacus lacus, fringilla eu consectetur nec, facilisis ut velit. Lorem ipsum dolor sit amet,
    consectetur adipiscing elit. In hac habitasse platea dictumst.</p>
<h4>Heading 4</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut dolor varius magna tincidunt varius. Duis quis
    enim rutrum, venenatis metus lobortis, malesuada arcu. Suspendisse in leo eget ligula venenatis iaculis ac a
    nisl. Aenean lacus lacus, fringilla eu consectetur nec, facilisis ut velit. Lorem ipsum dolor sit amet,
    consectetur adipiscing elit. In hac habitasse platea dictumst.</p>
<h5>Heading 5</h5>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut dolor varius magna tincidunt varius. Duis quis
    enim rutrum, venenatis metus lobortis, malesuada arcu. Suspendisse in leo eget ligula venenatis iaculis ac a
    nisl. Aenean lacus lacus, fringilla eu consectetur nec, facilisis ut velit. Lorem ipsum dolor sit amet,
    consectetur adipiscing elit. In hac habitasse platea dictumst.</p>
<h6>Heading 6</h6>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut dolor varius magna tincidunt varius. Duis quis
    enim rutrum, venenatis metus lobortis, malesuada arcu. Suspendisse in leo eget ligula venenatis iaculis ac a
    nisl. Aenean lacus lacus, fringilla eu consectetur nec, facilisis ut velit. Lorem ipsum dolor sit amet,
    consectetur adipiscing elit. In hac habitasse platea dictumst.</p>

<h1>Locations</h1>
<grid columns=3 columns-s=1>
{% for slug in locations %}
    {% set item = collections.lookup.location[slug] %}
    <div class="card-wrap">
        <div class="card">
            <div class="card-bg" data-image="/assets/img/location/{{ slug }}.webp"></div>
            <div class="card-info">
                <h2><a href="{{ item.url | url }}">{{ item.data.title }}</a></h2>
                <p class="h4"><span>Explore →</span></p>
            </div>
        </div>
    </div>
{% endfor %}
</grid>

<h1>Monsters</h1>
<grid columns=3 columns-s=1>
{% for slug in monsters %}
    {% set item = collections.lookup.monster[slug] %}
    <div class="card-wrap">
        <div class="card">
            <div class="card-bg" data-image="/assets/img/monster/{{ slug }}.jpg"></div>
            <div class="card-info">
                <h2><a href="{{ item.url | url }}">{{ item.data.title }}</a></h2>
                <p class="h4"><span>{{ item.data.species }}</span></p>
            </div>
        </div>
    </div>
{% endfor %}
</grid>

<h1>Weapons</h1>
<grid columns=3 columns-s=1>
    {% for slug in weapons %}
        {% set item = collections.lookup.weapon[ slug ] %}
        <div class="card-wrap">
            <div class="card">
                <div class="card-bg" data-image="/assets/img/weapon-character-iceborne/{{ slug }}.jpg"></div>
                <div class="card-info">
                    <h2><a href="{{ item.url | url }}">{{ item.data.title }}</a></h2>
                    <p class="h4"><span>{{ item.data.weapon_type }}</span></p>
                </div>
            </div>
        </div>
    {% endfor %}
</grid>

<h1>Weapons</h1>
<div>
    {% for item in weapons %}
        <img
            src="/assets/img/weapon-icon/{{ item | slug }}.png"
            height="40px"
            width="40px"
            style="display:inline-block; border: 1px solid black; padding: 5px;"
            alt=""
            />
    {% endfor %}
</div>

<div >
    {% for item in weapons %}
        <img
            src="/assets/img/weapon-icon-2/{{ item | slug }}.png"
            height="40px"
            width="40px"
            style="display:inline-block; border: 1px solid black; padding: 5px; background-color: black;"
            alt=""
            />
    {% endfor %}
</div>

<div >
    {% for item in weapons %}
        <img
            src="/assets/img/weapon-icon-3/{{ item | slug }}.webp"
            height="40px"
            width="40px"
            style="display:inline-block; border: 1px solid black; padding: 5px;"
            alt=""
            />
    {% endfor %}
</div>

<h1>Achievements</h2>
<div>
{# ---
    Support
    HR
    Arch Tempered
    Arena

    Global Leaderboards Top Overall
--- #}
    {% for item in [
        'first-friends',
        'bosom-buddies',

        'miniature-crown',
        'miniature-crown-collector',
        'miniature-crown-master',

        'giant-crown',
        'giant-crown-collector',
        'giant-crown-master',

        'temper-temper',
        'indomitable',
        'elderslayer',

        'conqueror-of-the-new-world'
    ] %}
        <img src="/assets/img/achievement/{{ item }}.png" height="120px" width="120px" style="display:inline-block;" alt="" />
    {% endfor %}
</div>

<h1>Achievements</h2>
<div>
{# ---
    Support
    HR
    Arch Tempered
    Arena

    Global Leaderboards Top Overall
--- #}
    {% for item in [
        'first-friends',
        'bosom-buddies',

        'miniature-crown',
        'miniature-crown-collector',
        'miniature-crown-master',

        'giant-crown',
        'giant-crown-collector',
        'giant-crown-master',

        'temper-temper',
        'indomitable',
        'elderslayer',

        'conqueror-of-the-new-world'
    ] %}
        <img src="/assets/img/achievement-small/{{ item }}.jpg" style="display:inline-block;" alt="" />
    {% endfor %}
</div>
