---
title: Quests
---

<h1>{{ title }}</h1>
<div class="grid grid--double">
    <div class="grid__column">
        <h2>Optional Quests</h2>
        <ul>
            {% for item in collections.quests__optional %}
                <li
                    {% if page.url == item.url %} class="active"{% endif %}>
                    <a href="{{ item.url | url }}">
                        {{- item.data.title -}}
                    </a>
                </li>
            {% endfor  %}
        </ul>
    </div>
    <div class="grid__column">
        <h2>Event Quests</h2>
        <ul>
            {% for item in collections.quests__event %}
                <li
                    {% if page.url == item.url %} class="active"{% endif %}>
                    <a href="{{ item.url | url }}">
                        {{- item.data.title -}}
                    </a>
                </li>
            {% endfor  %}
        </ul>
        <h2>Arena Quests</h2>
        <ul>
            {% for item in collections.quests__arena %}
                <li
                    {% if page.url == item.url %} class="active"{% endif %}>
                    <a href="{{ item.url | url }}">
                        {{- item.data.title -}}
                    </a>
                </li>
            {% endfor  %}
        </ul>
        <h2>Challenge Quests</h2>
        <ul>
            {% for item in collections.quests__challenge %}
                <li
                    {% if page.url == item.url %} class="active"{% endif %}>
                    <a href="{{ item.url | url }}">
                        {{- item.data.title -}}
                    </a>
                </li>
            {% endfor  %}
        </ul>
    </div>
</grid>
