---
title: Quests
---

<grid columns=12 columns-s=6>
    <c span="row">
        <h1>{{ title }}</h1>
    </c>
    <c span=6>
        <h2>Optional Quests</h2>
        <ul>
            {% for item in collections.quests__optional %}
                <li
                    {% if page.url == item.url %} class="active"{% endif %}>
                    <a href="{{ item.url | url }}">
                        {{- item.data.title -}}
                    </a>
                </li>
            {% endfor  %}
        </ul>
    </c>
    <c span=6>
        <h2>Event Quests</h2>
        <ul>
            {% for item in collections.quests__event %}
                <li
                    {% if page.url == item.url %} class="active"{% endif %}>
                    <a href="{{ item.url | url }}">
                        {{- item.data.title -}}
                    </a>
                </li>
            {% endfor  %}
        </ul>
        <h2>Arena Quests</h2>
        <ul>
            {% for item in collections.quests__arena %}
                <li
                    {% if page.url == item.url %} class="active"{% endif %}>
                    <a href="{{ item.url | url }}">
                        {{- item.data.title -}}
                    </a>
                </li>
            {% endfor  %}
        </ul>
        <h2>Challenge Quests</h2>
        <ul>
            {% for item in collections.quests__challenge %}
                <li
                    {% if page.url == item.url %} class="active"{% endif %}>
                    <a href="{{ item.url | url }}">
                        {{- item.data.title -}}
                    </a>
                </li>
            {% endfor  %}
        </ul>
    </c>
    {#
    <c span=6>

    </c>
    <c span=6>

    </c>
    #}
</grid>
