---
title: Runners
---
{% import "components/macros.njk" as macros %}

<div class="grid grid--quadra">
    <div class="grid__row">
        <h1>{{ title }}</h1>

        <ul class="multi-column-list">
            {% for runner in collections.runners %}
                <li>
                    {% include "components/links/runner-link.njk" %}

                    {% if troublesomeSlugs[ runner.fileSlug ] %}
                        {% set theSlug = troublesomeSlugs[ runner.fileSlug ] %}
                    {% else %}
                        {% set theSlug = runner.fileSlug %}
                    {% endif %}

                    <span class="small">({{ collections.runs__by_runner[theSlug] | length | default(0) }})</span>
                </li>
            {% endfor  %}
        </ul>
    </div>
{#
    <div class="grid__row">
        <hr>
        <h2>Weapon Masters</h2>

        <div class="tabbed">
            <ul>
                {% for slug in global_weapons %}
                    {% set item = collections.lookup.weapon[ slug ] %}
                    <li>
                        <a href="#section-{{ slug }}">
                            {{ macros.weapon_icon(slug, item.data.title) }}
                            <!--{{ item.data.title }}-->
                        </a>
                    </li>
                {% endfor %}
            </ul>
            {% for slug in global_weapons %}
                {% set item = collections.lookup.weapon[ slug ] %}
                <section id="section-{{ slug }}">
                    <h3>{{ item.data.title }}</h3>
                    <ul class="multi-column-list">
                        {% for runner in collections.runners__by_weapon[ slug ] %}
                            {% if loop.index0 < 100 %}
                                <li>
                                    {% include "components/links/runner-link.njk" %}
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </section>
            {% endfor %}
        </div>
    </div>
#}
</div>
