---
title: Runners
---

<div class="grid grid--quadra">
    <div class="grid__row">
        <h1>{{ title }}</h1>

        <ul class="multi-column-list">
            {% for runner in collections.runners %}
                <li>{% include "components/links/runner-link.njk" %}</li>
            {% endfor  %}
        </ul>
    </div>

    <div class="grid__row">
        <hr>
        <h2>Weapon Masters</h2>
    </div>

    {% for slug in global_weapons %}
        {% set item = collections.lookup.weapon[ slug ] %}
        <div class="grid__column">
            <h3>
                {#
                <img
                    src="/assets/img/weapon-icon/{{ slug }}.png"
                    style="height: 1em; width: 1em; display: inline-block; border: 1px solid black; padding: 5px; background-color: #333;"
                    alt="{{ collections.lookup.weapon[ weapon ].data.title }}"
                    />
                #}
                {{ item.data.title }}
            </h3>
            <ul>
                {% for runner in collections.runners__by_weapon[ slug ] %}
                    {% if loop.index0 < 100 %}
                        <li>{% include "components/links/runner-link.njk" %}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endfor %}

    {#
        <div class="grid__column">
            <h3>
                Variety
            </h3>
            <ul>
                {% for runner in collections.runners %}
                    {% if runner.data.weapons|length >= 3 %}
                    <li>{% include "components/links/runner-link.njk" %}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    #}
</grid>
