---
title: Runners
---

<div class="grid grid--quadra">
    <div class="grid__row">
        <h1>{{ title }}</h1>

        <ul class="multi-column-list">
            {% for runner in collections.runners %}
                <li>{% include "components/links/runner-link.njk" %}</li>
            {% endfor  %}
        </ul>
    </div>

    <div class="grid__row">
        <hr>
        <h2>Weapon Masters</h2>
    </div>

    {% for slug in global_weapons %}
        {% set item = collections.lookup.weapon[ slug ] %}
        <div class="grid__column">
            <h3>{{ item.data.title }}</h3>
            <ul>
                {% for runner in collections.runners__by_weapon[ slug ] %}
                    {% if loop.index0 < 20 %}
                        <li>{% include "components/links/runner-link.njk" %}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endfor %}

</grid>
