---
title: Runs
---
{% set count = 0 %}
<div class="grid">
    <div class="grid__row">
        <h1>{{ title }}</h1>
        {# --- group by year-month --- #}
        <ul>
            {% for run in collections.runs %}
                {% if loop.index0 < 99999 and run.data.runners | length === 1 %}
                    {% set count = count + 1 %}
                    <li>[{{ run.date | dateOnly }}] {% include "components/links/run-link.njk" %}</li>
                {% endif %}
            {% endfor  %}
        </ul>
    </div>

    {% if count < collections.runs | length %}
    <div class="grid__row">
        <h2>Multiplayer</h2>
        <ul>
            {% for run in collections.runs %}
                {% if loop.index0 < 99999 and run.data.runners | length > 1 %}
                    <li>[{{ run.date | dateOnly }}] {% include "components/links/run-link.njk" %}</li>
                {% endif %}
            {% endfor  %}
        </ul>
    </div>
    {% endif %}

    {#
    <div class="grid__row">
        <h2>2P Runs</h2>

        <ul>
            {% for run in collections.runs %}
                {% if loop.index0 < 99999 and run.data.runners | length === 2 %}
                    <li>{% include "components/links/run-link.njk" %}</li>
                {% endif %}
            {% endfor  %}
        </ul>
    </div>
    <div class="grid__row">
        <h2>3P Runs</h2>

        <ul>
            {% for run in collections.runs %}
                {% if loop.index0 < 99999 and run.data.runners | length === 3 %}
                    <li>{% include "components/links/run-link.njk" %}</li>
                {% endif %}
            {% endfor  %}
        </ul>
    </div>
    <div class="grid__row">
        <h2>4P Runs</h2>

        <ul>
            {% for run in collections.runs %}
                {% if loop.index0 < 99999 and run.data.runners | length === 4 %}
                    <li>{% include "components/links/run-link.njk" %}</li>
                {% endif %}
            {% endfor  %}
        </ul>
    </div>
    #}
</div>
