---
title: Runs
---
{% import "components/macros.njk" as macros %}

{% macro table_header() %}
    <div class="table-wrapper">
        <table class="tablesort">
            <thead>
                <tr>
                    {# <th scope="col" data-sort-default>Date</th> #}
                    <th scope="col">Quest</th>
                    <th scope="col" >Time</th>
                    <th scope="col" class="no-sort" data-sort-method='none'>Runner</th>
                    <th scope="col" class="no-sort" data-sort-method='none'>Weapon</th>
                    <th scope="col" class="no-sort" data-sort-method='none'>Video</th>
                </tr>
            </thead>
            <tbody>
{% endmacro %}

{% macro table_row(run, loop) %}
    <tr
        data-ruleset="{{ run.data.run_type }}"
        data-weapon="{{ run.data.weapons|join(' ') }}"
        data-platform="{{ run.data.platform }}"
        >
        {# <td class="tablesort__date">
            {{ run.date | dateOnly }}
        </td> #}
        <td class="tablesort__quest">
            {% set quest = collections.lookup.quest[ run.data.quest ] %}
            <a href="{{ quest.url | url }}">{{ quest.data.title }}</a>
        </td>
        <td class="tablesort__time">
            <a href="{{ run.url | url }}">
                {{ run.data.time }}
            </a>
        </td>
        <td class="tablesort__runner">
            {% if run.data.runners.length > 1 %}
                <strong>{{ run.data.runners.length }}P</strong><br>
            {% endif %}
            {% for runnerSlug in run.data.runners %}
                {%- set runner = collections.lookup.runner[ runnerSlug ] %}
                {%- include "components/links/runner-link.njk" %}
                {% if not loop.last %}<br>{% endif %}
            {% endfor %}
        </td>
        <td class="tablesort__weapon" data-sort='{{ run.data.weapons|first }}'>
            {% for weapon in run.data.weapons %}
                {{ macros.weapon_icon(
                    slug = weapon,
                    title = collections.lookup.weapon[ weapon ].data.title
                ) }}
            {% endfor %}
        </td>
        <td class="tablesort__video">
            {% set title   = run.data.title %}
            {% if not title %}
                {% set title = collections.lookup.quest[ run.data.quest ].data.title | safe %}
            {% endif %}
            {% set runners = run.data.runners %}
            <button
            style="margin: 0; overflow: visible; border: 0; padding: 0"
                data-micromodal
                data-micromodal-embed="{{ run.data.video }}"
                data-micromodal-title="{%- include "components/run-title.njk" -%}"
                >
                <img
                    src="/assets/img/ui/next.png"
                    height="40px"
                    width="40px"
                    style="display:inline-block; border: 1px solid black; padding: 5px; background-color: #fff;"
                    alt="Play video"
                    />
            </button>
        </td>
    </tr>
{% endmacro %}

{% macro table_footer() %}
            </tbody>
        </table>
    </div>
{% endmacro %}

{% set count = 0 %}
<div class="grid">
    <div class="grid__row">
        <h1>{{ title }}</h1>
        {% set dateCheck = false %}
        {% for run in collections.runs %}
            {% if run.data.runners | length === 1 and run.date|dateDisplay('yyyy') == '2019' %}
                {% set count = count + 1 %}

                {% set dateNew = run.date | dateDisplay('LLLL yyyy') %}

                {% if dateCheck != dateNew %}
                    {% if dateCheck !== false %}
                        {{ table_footer() }}
                    {% endif %}
                    <h2>{{ dateNew }}</h2>
                    {{ table_header() }}
                {% endif %}

                {{ table_row(run, loop) }}

                {% set dateCheck = dateNew %}
            {% endif %}
        {% endfor  %}
        {{ table_footer() }}
    </div>

    {#
    {% if count < collections.runs | length %}
    <div class="grid__row">
        <h2>Multiplayer</h2>
        {% set dateCheck = false %}
        {% for run in collections.runs %}
            {% if run.data.runners | length > 1 %}

                {% set dateNew = run.date | dateDisplay('LLLL yyyy') %}

                {% if dateCheck != dateNew %}
                    {% if dateCheck !== false %}
                        {{ table_footer() }}
                    {% endif %}
                    <h3>{{ dateNew }}</h3>
                    {{ table_header() }}
                {% endif %}

                {{ table_row(run, loop) }}

                {% set dateCheck = dateNew %}
            {% endif %}
        {% endfor  %}
        {{ table_footer() }}
    </div>
    {% endif %}
    #}
</div>


<div class="modal micromodal-slide" id="micromodal" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="micromodal-title" >
            <div class="modal__header">
                <h3 class="modal__title" id="micromodal-title"></h3>
                <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
            </div>
            <div class="modal__content"  id="micromodal-content">
                {{ macros.video('', true) }}
            </div>
        </div>
    </div>
</div>
