---
title: Submit Run
---

NOTE: Only for Vanilla MHW runs. Iceborne runs should go to the new website: <a href="https://iceborne.seiken.io">https://iceborne.seiken.io</a> when it's ready.

<iframe
    src="https://docs.google.com/forms/d/e/1FAIpQLSeNgYDK27KYwNXW9-SubdjnVCzC-R2iO2hXZzGBt74xIMf5lQ/viewform?embedded=true"
    width="100%"
    height="1700"
    frameborder="0"
    marginheight="0"
    marginwidth="0">Loading...</iframe>
