---
title: Submit Run
---

<div class="hint hint--info">
    <p>
        Only for Vanilla MHW runs.<br>
        Iceborne runs should be submitted on the new website: <a href="https://iceborne.seiken.io">https://iceborne.seiken.io</a>.
    </p>
    <ul>
        <li>
            Please submit top 3 runs (either ruleset).
        </li>
        <li>
            Submissions will be <strong>closed</strong> before the end of 2019.
        </li>
        <li>
            If you're a new runner, submit yourself as a runner first. <a href="/submit-runner">Submit runner</a>.
        </li>
        <li>
            Since I'm quite busy, submissions for this site will be a little slow. Thanks for understanding.
        </li>
        <li>
            Hit me up on Discord or Twitter if there's still good runs that I've missed!
        </li>
    </ul>
</div>
