<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if page.url == '/' %}
        <meta name="description" content="{{ general.meta_description }}"/>
        {% endif %}

        {% block title %}
            {% if page.url == '/' %}
                <title>{{ general.site_name }}</title>
            {% elseif type == 'run' %}
                <title>{% include "components/run-title.njk" %} | {{ general.site_name }}</title>
            {% else %}
                <title>{{ title }} | {{ general.site_name }}</title>
            {% endif %}
        {% endblock title %}

        {# --- https://realfavicongenerator.net/ --- #}
        <link rel="manifest" href="/site.webmanifest">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#333333">
        <link rel="shortcut icon" href="/favicon.ico">
        <meta name="msapplication-TileColor" content="#eeeeee">
        <meta name="theme-color" content="#eeeeee">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.3.0/css/flag-icon.min.css" integrity="sha256-NkXMfPcpoih3/xWDcrJcAX78pHpfwxkhNj0bAf8AMTs=" crossorigin="anonymous" />
        <link rel="stylesheet" href="{{ '/assets/style/main.css' | url }}" />
    </head>
    <body class="--show-base-grid --debug {% if page.url == '/' %}homepage{% else %}{{ type }}--{{ page.fileSlug }}{% endif %}">

        {% include "partials/header.njk" %}

        <main id="content"role="main">
            <div class="inner">
                {{ content | safe }}
            </div>
        </main>

        {% include "partials/footer.njk" %}

        <script src="{{ '/assets/script/main.js' | url }}"></script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144639528-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-144639528-1', { 'anonymize_ip': true });
        </script>

    </body>
</html>
