---
layout: layouts/base.njk
permalink: /monsters/{{ title | slug }}/index.html
---

[Monster]
Test: {{ "歴戦王ゼノジーヴァ" | slug }}

{{ content | safe }}

<dl>
    <dt>Location<dt>
    <dd>
        <a href="{{ "/locations/ancient-forest" | url }}">Ancient Forest</a></li>
    </dd>
</dl>

<h2>Quests</h2>
<p>List of quests that have this monster, with the best or most recent speedrun of above mentioned quests.</p>
<p>Might be useful to make a distinction between, regular, tempered and arch-tempered variants</p>
