---
layout: layouts/base.njk
---

[Quest]

{{ content | safe }}

<dl>
    <dt>Monster(s)</dt>
    <dd>
        <a href="{{ "/monsters/great-jagras" | url }}">Great Jagras</a>
    </dd>
    <dt>Location<dt>
    <dd>
        <a href="{{ "/locations/ancient-forest" | url }}">Ancient Forest</a></li>
    </dd>
</dl>

<h2>Top Speedruns</h2>
<p>List of speedruns, sorted by best time, filterable per weapon.</p>
