---
layout: layouts/base.njk
---

[Runner]

{{ content | safe }}

<h2>Runs</h2>
<p>List of all best runs per quest.</p>

<h2>Fluff</h2>
<p>Leaderboard stats and achievements.</p>
<p>Frequently used weapons, etc.</p>

{% if youtube %}
    <a href="{{ youtube }}">YouTube</a>
{% endif %}

{% if twitch %}
    <a href="{{ twitch }}">Twitch</a>
{% endif %}

{% if twitter %}
    <a href="{{ twitter }}">Twitter</a>
{% endif %}

{% if country %}
    <span class="flag-icon flag-icon-{{ country }}"></span>
{% endif %}
