---
layout: layouts/base.njk
---

<grid columns=12 columns-s=4>

<c span="row">
    <h1>{{ title }}</h1>
</c>

<c span=4 span-s=4>
    {{ content | safe }}

    <dl>
        <dt>Type</dt>
        <dd>{{ weapon_type }}</dd>
    </dl>

    <h2>Runners</h2>
    {% if collections.runners__by_weapon[page.fileSlug] %}
        <ul class="compact">
            {% for runner in collections.runners__by_weapon[ page.fileSlug ] %}
                <li>
                    {% include "components/links/runner-link.njk" %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No runners found!</p>
    {% endif %}
</c>

{% if video %}
    <c span=8 span-s=4>
        {% include "components/video.njk" %}
    </c>
{% endif %}

{#
<c span=4>
    <h2>Runs</h2>
    <p>List of the most recent speedruns using this weapon.</p>
    {% for item in collections.run__by_weapon[page.fileSlug] %}
        {% if loop.index0 < 10 %}
            <li>
                <a href="{{ item.data.video }}">
                    <span>
                        {{ collections.lookup.quest[item.data.quest].data.title }}
                    </span>
                    <span>
                        {{ collections.lookup.quest[item.data.quest].data.time | millisFormatted }}
                    </span>
                </a>

            </li>
        {% endif %}
    {% endfor %}
</c>
#}

{#
<c span=4>
    <h2>Fluff</h2>
    <p>Tips, tricks, sets/builds, tutorials.</p>
</c>
#}

</grid>
