---
layout: layouts/base.njk
---

[Weapon]

{{ content | safe }}

<h2>Runs</h2>
<p>List of the best or most recent speedruns using mentioned weapon.</p>

<h2>Runners</h2>
<p>A list of notable speedrunners using mentioned weapon.</p>

<h2>Fluff</h2>
<p>Tips, tricks, sets/builds, tutorials.</p>
