{# --- Only show breadcrumbs when two levels down, i.e. when three items to show --- #}
{% if page.url != '/' and general.parent[ type ] is defined %}
    {% set parent = general.parent[ type ] %}
    <nav aria-label="Breadcrumbs" class="breadcrumbs">
        <div class="inner">
            <span hidden>You are here:</span>
            <ol class="breadcrumbs__list">
                <li class="breadcrumbs__list-item"><a href="/">Home</a></li>
                <li class="breadcrumbs__list-item"><a href="{{ parent.url | url }}">{{ parent.title }}</a></li>
                <li class="breadcrumbs__list-item"><a href="{{ page.url | url }}" aria-current="page">
                        {%- if type == 'run' %}
                            {%- include "components/run-title.njk" %}
                        {%- else %}
                            {{- title }}
                        {%- endif -%}
                    </a>
                </li>
            </ol>
        </div>
    </nav>
{% endif %}
