{# Parameters:
    {{ card.image }}    - Path to image
    {{ card.url }}      - Link to page
    {{ card.title }}    - title
    {{ card.subtitle }} - subtitle
#}
<article class="card-wrap">
    <div class="card">
        <div class="card__bg" data-image="{{ card.image }}"></div>
        <div class="card__info">
            <h2 class="card__title">
                <a class="card__link" href="{{ card.url | url }}">{{ card.title }}</a>
            </h2>
            <p class="card__subtitle">
                <span class="card__subtitle-outline">{{ card.subtitle }}</span>
            </p>
        </div>
    </div>
</article>
