{% macro button(url, label, attr = []) %}
    TODO
{% endmacro %}


{% macro card(image, url, title, subtitle) %}
    <article class="card-wrap">
        <div class="card">
            <div class="card__bg" data-image="{{ image }}"></div>
            <div class="card__info">
                <h2 class="card__title">
                    <a class="card__link" href="{{ url | url }}">{{ title }}</a>
                </h2>
                <p class="card__subtitle">
                    <span class="card__subtitle-outline">{{ subtitle }}</span>
                </p>
            </div>
        </div>
    </article>
{% endmacro %}

{% macro run_link(run) %}
    TODO
{% endmacro %}

{% macro runner_link(runner) %}
    TODO
{% endmacro %}

{% macro quest_card(quest, subtitle = false, count = 0, variant = 'regular') %}
    <div class="quest-card" data-num="{{ quest.data.monsters|length }}">
        {% for monster in quest.data.monsters %}
            <img
                class="quest-card__image monster-icon variant--{{ variant }}"
                src="/assets/img/monster-icons/{{ monster }}.png"
            />
        {% endfor %}
        <div class="quest-card__content">
            <a href="{{ quest.url | url }}">
                {{ quest.data.title }}
                <span class="small">({{ count }})</span>
            </a>
            <br>
            {{ subtitle }}
        </div>
    </div>
{% endmacro %}

{% macro achievement_card(icon, url, title, subtitle, variant) %}
    <div class="quest-card quest-card--{{ variant }}">
        <img
            class="quest-card__image"
            src="/assets/img/{{ icon }}.png"
        />
        <div class="quest-card__content">
            <a href="{{ url }}">
                <strong>{{ title }}</strong>
            </a>
            <br>
            {{ subtitle }}
        </div>
    </div>
{% endmacro %}

{% macro achievement_patron(title, url = "https://www.patreon.com/ShinSeiKen") %}
    {{ achievement_card(
        'achievement/bosom-buddies',
        url,
        title ~" is a Patron!",
        "Thanks for supporting",
        "medium"
    ) }}
{% endmacro %}

{# --- todo: rename weapon to category or something --- #}
{% macro achievement_leaderboard(ruleset, category, rank) %}
    {% set title    = "" %}
    {% set rankText = "" %}
    {% set icon     = "" %}

    {% if rank == 1 %}     {% set rankText = "Top Rank" %}
    {% elseif rank == 2 %} {% set rankText = "Rank 2" %}
    {% elseif rank == 3 %} {% set rankText = "Rank 3" %}
    {% endif %}

    {% if category in [ 'master-hunter' ] %}
        {% set title = "Master Hunter" %}
        {% set url   = "/leaderboards/" ~ ruleset ~ "/" ~ category ~"/"|url %}

        {% if rank == 1 %}     {% set icon = 'achievement/giant-crown-master' %}
        {% elseif rank == 2 %} {% set icon = 'achievement/giant-crown-collector' %}
        {% elseif rank == 3 %} {% set icon = 'achievement/giant-crown' %}
        {% endif %}
    {% elseif category in [ 'elder-slayer' ] %}{# --- todo! --- #}
    {% elseif category in [ 'arena-master' ] %}{# --- todo! --- #}
    {% else %}
        {# --- weapon category --- #}
        {% set title = category|label ~ " Master" %}
        {% set url   = "/leaderboards/" ~ ruleset ~ "/weapon/" ~ category ~"/"|url %}

        {% if rank == 1 %}     {% set icon = 'achievement/miniature-crown-master' %}
        {% elseif rank == 2 %} {% set icon = 'achievement/miniature-crown-collector' %}
        {% elseif rank == 3 %} {% set icon = 'achievement/miniature-crown' %}
        {% endif %}
    {% endif %}

    {{ achievement_card(
        icon,
        url,
        title,
        rankText ~ " " ~ ruleset|label,
        "medium"
    ) }}
{% endmacro %}

{% macro video(video, lazyload = false) %}
    <div class='embed-container'>
        <iframe
            {% if lazyload|default(false) %}data-{% endif -%}
            src='{{ video | replace("youtube.com", "youtube-nocookie.com") -}}
            {%- if "youtube" in video and "?" in video %}&modestbranding=1&rel=0
            {%- elif "youtube" in video %}?modestbranding=1&rel=0{% endif %}'
            frameborder='0'
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
    </div>
{% endmacro %}

{% macro weapon_icon(slug, title) %}
    <img
        class="weapon-icon"
        src="/assets/img/weapon-icon/{{ slug }}.png"
        alt="{{ title }}"
        />
{% endmacro %}

{% macro monster_img(slug) %}/assets/img/monster-icons/{{ slug }}.png{% endmacro %}

{# --- type:
- award
- crown
- medal
- trophy
--- #}
{% macro icon_svg(type, variant) %}<svg class="icon icon--{{ variant }}"><use xlink:href="#{{ type }}"></use></svg>{% endmacro %}

{% macro run_rank(run) %}
    {% set freestyleRank = run|freestyleRank %}
    {% set taWikiRank    = run|taWikiRank %}

    {%     if taWikiRank    == 1 %} {{ icon_svg(type = 'award' , variant = 'gold') }}
    {% elseif freestyleRank == 1 %} {{ icon_svg(type = 'medal' , variant = 'gold') }}
    {% elseif taWikiRank    == 2 %} {{ icon_svg(type = 'award' , variant = 'silver') }}
    {% elseif freestyleRank == 2 %} {{ icon_svg(type = 'medal' , variant = 'silver') }}
    {% elseif taWikiRank    == 3 %} {{ icon_svg(type = 'award' , variant = 'bronze') }}
    {% elseif freestyleRank == 3 %} {{ icon_svg(type = 'medal' , variant = 'bronze') }}
    {% endif %}
{% endmacro %}

{% macro ad_square() %}
    <!-- Square Box 1 -->
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-1456489391618538"
        data-ad-slot="5354626624"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
{% endmacro %}

{% macro ad_horizontal() %}
    <!-- Horizontal Ad 1 -->
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-1456489391618538"
        data-ad-slot="2174915629"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
{% endmacro %}
