/** -- fluffiness -- */
/*
.weapon--great-sword main .inner { background: url('/assets/img/weapon-character/great-sword.webp') no-repeat bottom right; padding-bottom: calc(var(--lineHeight)*10); }
.weapon--long-sword main .inner { background: url('/assets/img/weapon-character/long-sword.webp') no-repeat bottom right; padding-bottom: calc(var(--lineHeight)*10); }
.weapon--sword-and-shield main .inner { background: url('/assets/img/weapon-character/sword-and-shield.webp') no-repeat bottom right; padding-bottom: calc(var(--lineHeight)*10); }
.weapon--dual-blades main .inner { background: url('/assets/img/weapon-character/dual-blades.webp') no-repeat bottom right; padding-bottom: calc(var(--lineHeight)*10); }
.weapon--hammer main .inner { background: url('/assets/img/weapon-character/hammer.webp') no-repeat bottom right; padding-bottom: calc(var(--lineHeight)*10); }
.weapon--hunting-horn main .inner { background: url('/assets/img/weapon-character/hunting-horn.webp') no-repeat bottom right; padding-bottom: calc(var(--lineHeight)*10); }
.weapon--lance main .inner { background: url('/assets/img/weapon-character/lance.webp') no-repeat bottom right; padding-bottom: calc(var(--lineHeight)*10); }
.weapon--gunlance main .inner { background: url('/assets/img/weapon-character/gunlance.webp') no-repeat bottom right; padding-bottom: calc(var(--lineHeight)*10); }
.weapon--switch-axe main .inner { background: url('/assets/img/weapon-character/switch-axe.webp') no-repeat bottom right; padding-bottom: calc(var(--lineHeight)*10); }
.weapon--charge-blade main .inner { background: url('/assets/img/weapon-character/charge-blade.webp') no-repeat bottom right; padding-bottom: calc(var(--lineHeight)*10); }
.weapon--insect-glaive main .inner { background: url('/assets/img/weapon-character/insect-glaive.webp') no-repeat bottom right; padding-bottom: calc(var(--lineHeight)*10); }
.weapon--bow main .inner { background: url('/assets/img/weapon-character/bow.webp') no-repeat bottom right; padding-bottom: calc(var(--lineHeight)*10); }
.weapon--light-bowgun main .inner { background: url('/assets/img/weapon-character/light-bowgun.webp') no-repeat bottom right; padding-bottom: calc(var(--lineHeight)*10); }
.weapon--heavy-bowgun main .inner { background: url('/assets/img/weapon-character/heavy-bowgun.webp') no-repeat bottom right; padding-bottom: calc(var(--lineHeight)*10); }
/**/
/** /
.monster--great-jagras main { background-blend-mode: darken; background: #EEE url('/assets/img/monster/great-jagras.jpg') no-repeat bottom right; background-size: 30%; padding-bottom: calc(var(--lineHeight)*10); }
.monster--kulu-ya-ku main { background-blend-mode: darken; background: #EEE url('/assets/img/monster/kulu-ya-ku.jpg') no-repeat bottom right; background-size: 30%; padding-bottom: calc(var(--lineHeight)*10); }
.monster--pukei-pukei main { background-blend-mode: darken; background: #EEE url('/assets/img/monster/pukei-pukei.jpg') no-repeat bottom right; background-size: 30%; padding-bottom: calc(var(--lineHeight)*10); }
.monster--jyuratodus main { background-blend-mode: darken; background: #EEE url('/assets/img/monster/jyuratodus.jpg') no-repeat bottom right; background-size: 30%; padding-bottom: calc(var(--lineHeight)*10); }
.monster--barroth main { background-blend-mode: darken; background: #EEE url('/assets/img/monster/barroth.jpg') no-repeat bottom right; background-size: 30%; padding-bottom: calc(var(--lineHeight)*10); }
.monster--tobi-kadachi main { background-blend-mode: darken; background: #EEE url('/assets/img/monster/tobi-kadachi.jpg') no-repeat bottom right; background-size: 30%; padding-bottom: calc(var(--lineHeight)*10); }
.monster--anjanath main { background-blend-mode: darken; background: #EEE url('/assets/img/monster/anjanath.jpg') no-repeat bottom right; background-size: 30%; padding-bottom: calc(var(--lineHeight)*10); }
.monster--rathian main { background-blend-mode: darken; background: #EEE url('/assets/img/monster/rathian.jpg') no-repeat bottom right; background-size: 30%; padding-bottom: calc(var(--lineHeight)*10); }
.monster--tzitzi-ya-ku main { background-blend-mode: darken; background: #EEE url('/assets/img/monster/tzitzi-ya-ku.jpg') no-repeat bottom right; background-size: 30%; padding-bottom: calc(var(--lineHeight)*10); }
.monster--paolumu main { background-blend-mode: darken; background: #EEE url('/assets/img/monster/paolumu.jpg') no-repeat bottom right; background-size: 30%; padding-bottom: calc(var(--lineHeight)*10); }
.monster--great-girros main { background-blend-mode: darken; background: #EEE url('/assets/img/monster/great-girros.jpg') no-repeat bottom right; background-size: 30%; padding-bottom: calc(var(--lineHeight)*10); }
.monster--radobaan main { background-blend-mode: darken; background: #EEE url('/assets/img/monster/radobaan.jpg') no-repeat bottom right; background-size: 30%; padding-bottom: calc(var(--lineHeight)*10); }
.monster--legiana main { background-blend-mode: darken; background: #EEE url('/assets/img/monster/legiana.jpg') no-repeat bottom right; background-size: 30%; padding-bottom: calc(var(--lineHeight)*10); }
.monster--odogaron main { background-blend-mode: darken; background: #EEE url('/assets/img/monster/odogaron.jpg') no-repeat bottom right; background-size: 30%; padding-bottom: calc(var(--lineHeight)*10); }
.monster--rathalos main { background-blend-mode: darken; background: #EEE url('/assets/img/monster/rathalos.jpg') no-repeat bottom right; background-size: 30%; padding-bottom: calc(var(--lineHeight)*10); }
.monster--diablos main { background-blend-mode: darken; background: #EEE url('/assets/img/monster/diablos.jpg') no-repeat bottom right; background-size: 30%; padding-bottom: calc(var(--lineHeight)*10); }
.monster--zorah-magdaros main { background-blend-mode: darken; background: #EEE url('/assets/img/monster/zorah-magdaros.jpg') no-repeat bottom right; background-size: 30%; padding-bottom: calc(var(--lineHeight)*10); }
.monster--dodogama main { background-blend-mode: darken; background: #EEE url('/assets/img/monster/dodogama.jpg') no-repeat bottom right; background-size: 30%; padding-bottom: calc(var(--lineHeight)*10); }
.monster--lavasioth main { background-blend-mode: darken; background: #EEE url('/assets/img/monster/lavasioth.jpg') no-repeat bottom right; background-size: 30%; padding-bottom: calc(var(--lineHeight)*10); }
.monster--uragaan main { background-blend-mode: darken; background: #EEE url('/assets/img/monster/uragaan.jpg') no-repeat bottom right; background-size: 30%; padding-bottom: calc(var(--lineHeight)*10); }
.monster--azure-rathalos main { background-blend-mode: darken; background: #EEE url('/assets/img/monster/azure-rathalos.jpg') no-repeat bottom right; background-size: 30%; padding-bottom: calc(var(--lineHeight)*10); }
.monster--bazelgeuse main { background-blend-mode: darken; background: #EEE url('/assets/img/monster/bazelgeuse.jpg') no-repeat bottom right; background-size: 30%; padding-bottom: calc(var(--lineHeight)*10); }
.monster--black-diablos main { background-blend-mode: darken; background: #EEE url('/assets/img/monster/black-diablos.jpg') no-repeat bottom right; background-size: 30%; padding-bottom: calc(var(--lineHeight)*10); }
.monster--kirin main { background-blend-mode: darken; background: #EEE url('/assets/img/monster/XXX.kirin') no-repeat bottom right; pbackground-size: 30%; adding-bottom: calc(var(--lineHeight)*10); }
.monster--nergigante main { background-blend-mode: darken; background: #EEE url('/assets/img/monster/nergigante.jpg') no-repeat bottom right; background-size: 30%; padding-bottom: calc(var(--lineHeight)*10); }
.monster--teostra main { background-blend-mode: darken; background: #EEE url('/assets/img/monster/teostra.jpg') no-repeat bottom right; background-size: 30%; padding-bottom: calc(var(--lineHeight)*10); }
.monster--kushala-daora main { background-blend-mode: darken; background: #EEE url('/assets/img/monster/kushala-daora.jpg') no-repeat bottom right; background-size: 30%; padding-bottom: calc(var(--lineHeight)*10); }
.monster--deviljho main { background-blend-mode: darken; background: #EEE url('/assets/img/monster/deviljho.jpg') no-repeat bottom right; background-size: 30%; padding-bottom: calc(var(--lineHeight)*10); }
.monster--pink-rathian main { background-blend-mode: darken; background: #EEE url('/assets/img/monster/pink-rathian.jpg') no-repeat bottom right; background-size: 30%; padding-bottom: calc(var(--lineHeight)*10); }
.monster--vaal-hazak main { background-blend-mode: darken; background: #EEE url('/assets/img/monster/vaal-hazak.jpg') no-repeat bottom right; background-size: 30%; padding-bottom: calc(var(--lineHeight)*10); }
.monster--xeno-jiiva main { background-blend-mode: darken; background: #EEE url('/assets/img/monster/xeno-jiiva.jpg') no-repeat bottom right; background-size: 30%; padding-bottom: calc(var(--lineHeight)*10); }
.monster--kulve-taroth main { background-blend-mode: darken; background: #EEE url('/assets/img/monster/kulve-taroth.jpg') no-repeat bottom right; background-size: 30%; padding-bottom: calc(var(--lineHeight)*10); }
.monster--lunastra main { background-blend-mode: darken; background: #EEE url('/assets/img/monster/lunastra.jpg') no-repeat bottom right; background-size: 30%; padding-bottom: calc(var(--lineHeight)*10); }
.monster--behemoth main { background-blend-mode: darken; background: #EEE url('/assets/img/monster/behemoth.jpg') no-repeat bottom right; background-size: 30%; padding-bottom: calc(var(--lineHeight)*10); }
.monster--leshen main { background-blend-mode: darken; background: #EEE url('/assets/img/monster/leshen.jpg') no-repeat bottom right; background-size: 30%; padding-bottom: calc(var(--lineHeight)*10); }
.monster--banbaro main { background-blend-mode: darken; background: #EEE url('/assets/img/monster/banbaro.jpg') no-repeat bottom right; background-size: 30%; padding-bottom: calc(var(--lineHeight)*10); }
.monster--beotodus main { background-blend-mode: darken; background: #EEE url('/assets/img/monster/beotodus.jpg') no-repeat bottom right; background-size: 30%; padding-bottom: calc(var(--lineHeight)*10); }
.monster--nargacuga main { background-blend-mode: darken; background: #EEE url('/assets/img/monster/nargacuga.jpg') no-repeat bottom right; background-size: 30%; padding-bottom: calc(var(--lineHeight)*10); }
.monster--velkhana main { background-blend-mode: darken; background: #EEE url('/assets/img/monster/velkhana.jpg') no-repeat bottom right; background-size: 30%; padding-bottom: calc(var(--lineHeight)*10); }
/**/

:root {
    --foo: bar;
}

html {
    background-color: #EEE;
}

body {
    padding-top: 0;
}

[hidden] {
    display: none;
}

a:focus {
    background-color: #ffbf47;
    outline: 3px solid #ffbf47;
}

li.active a {
    font-weight: bold;
}

button {
    /* height: calc(var(--lineHeight)*1.5); */
}

.inner {
    max-width: 1280px;
    margin: 0 auto;
}

grid:last-child {
    margin-bottom: var(--blockSpacingBottom);
}

/* --- .skiplink --- */

.skiplink {
    display: inline-block;
    position: absolute;
    left: -9999em;
    top: 1em;
}

.skiplink:focus {
    left: 1em;
    z-index: 1;
}

.visually-hidden {
    position: absolute;
    left: -9999em;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* --- navigation --- */

.sitename {
    /* take h2 styling instead */
    font-weight: 700;
    letter-spacing: -.03em;
    font-size: var(--h3-size);
    /* line-height: calc(var(--lineHeight)*2); */
    text-decoration: none;
}

.sitename:hover {
    color: inherit;
}
.sitename:focus {
    background-color: var(--blue);
    outline-color: var(--blue);
}

header {
    color: #fff;
    background-color: #333;

    padding: var(--lineHeight) calc(var(--lineHeight)*2);

    margin-left: calc(var(--lineHeight)*-2);
    margin-right: calc(var(--lineHeight)*-2);
}

main {
    padding-top: calc(var(--lineHeight));
    padding-bottom: calc(var(--lineHeight));
}

footer {
    background-color: #dee0e2;
    padding: calc(var(--lineHeight)* 2);
    margin-left: calc(var(--lineHeight)*-2);
    margin-right: calc(var(--lineHeight)*-2);

    padding-bottom: calc(var(--lineHeight)* 3);
    margin-bottom: calc(var(--lineHeight)*-3);
}

footer a {
    color: #454a4c;
}

footer ul {
    list-style: none;
    padding-left: 0;
}

.credits {
    font-feature-settings: 'tnum' 1;
}

.headerlinks {
    line-height: calc(var(--lineHeight)*2);
}

.headerlinks a:hover {
    outline: 10px solid black;
    background-color: black;
    color: white;
}
.headerlinks a:focus,
.headerlinks a:active {
    outline: 10px solid var(--yellow);
    background-color: var(--yellow);
}

.headerlinks,
.footerlinks {
    padding-left: 0;
    margin-bottom: unset;
}

.headerlinks li,
.footerlinks li {
    display: inline-block;
    margin-right: 1em;
    margin-bottom: unset;
}

dt {
    margin-bottom: unset;
    font-weight: bold;
}

dd {
    margin-bottom: calc(var(--lineHeight) * 0.5);
    margin-left: 1em;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* See: https://embedresponsively.com/ */

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
:root {
    --hoverEasing: cubic-bezier(0.23, 1, 0.32, 1);
    --returnEasing: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-wrap {
  /* margin: 10px; */
  transform: perspective(800px);
  transform-style: preserve-3d;
  cursor: pointer;
}

.card-wrap:focus-within {
    outline: 5px solid var(--blue);
}

.card-wrap a:focus {
    background-color: var(--blue);
    outline: 5px solid var(--blue);
}

.card-wrap:focus-within .card-info,
.card-wrap:hover .card-info {
    transform: translateY(0);
}
.card-wrap:focus-within .card-info p,
.card-wrap:hover .card-info p {
    opacity: 1;
}
.card-wrap:focus-within .card-info, .card-info p,
.card-wrap:hover .card-info, .card-info p {
    transition: 0.6s var(--hoverEasing);
}
.card-wrap:focus-within .card-info:after,
.card-wrap:hover .card-info:after {
    transition: 5s var(--hoverEasing);
    opacity: 1;
    transform: translateY(0);
}
.card-wrap:focus-within .card-bg,
.card-wrap:hover .card-bg {
    transition:
    0.6s var(--hoverEasing),
    opacity 5s var(--hoverEasing);
    opacity: 0.8;
}
.card-wrap:focus-within .card,
.card-wrap:hover .card {
    transition:
    0.6s var(--hoverEasing),
    box-shadow 2s var(--hoverEasing);
    box-shadow:
    rgba(white, 0.2) 0 0 40px 5px,
    rgba(white, 1) 0 0 0 1px,
    rgba(black, 0.66) 0 30px 60px 0,
    inset #333 0 0 0 5px,
    inset white 0 0 0 6px;
}

.card {
  position: relative;
  /* flex: 0 0 400px; */
  width: 100%;
  height: 225px;
  background-color: #333;
  overflow: hidden;
  /* border-radius: 10px; */
  box-shadow:
    rgba(black, 0.66) 0 30px 60px 0,
    inset #333 0 0 0 5px,
    inset rgba(white, 0.5) 0 0 0 6px;
  transition: 1s var(--returnEasing);
}

.card-bg {
  opacity: 0.5;
  position: absolute;
  top: -20px; left: -20px;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition:
    1s var(--returnEasing),
    opacity 5s 1s var(--returnEasing);
  pointer-events: none;
}

.card-info {
  padding: 20px;
  position: absolute;
  bottom: 0;
  color: #fff;
  transform: translateY(40%);
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  z-index: 1;
}

.card-info h1 a {
    z-index: 1000;
}


.card-info:after {
    content: '';
    position: absolute;
    top: 0; left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, transparent 0%, rgba(#000, 0.6) 100%);
    background-blend-mode: overlay;
    opacity: 0;
    transform: translateY(100%);
    transition: 5s 1s var(--returnEasing);
}

.card-info h1 {
  text-shadow: rgba(black, 0.5) 0 10px 10px;
}
