---
layout: layouts/base.njk
---
{% import "components/macros.njk" as macros %}

{% set quests    = collections.quests__by_monster[page.fileSlug] %}
{% set locations = collections.locations__by_monster[page.fileSlug] %}

<div class="grid grid--monster">
    <div class="grid__row">
        <h1>{{ title }}</h1>
    </div>
    <div class="grid__content">
        {{ content | safe }}
        <dl>
            <dt>Species</dt>
            <dd>{{ species }}</dd>
            {% if locations | length %}
                <dt>Locations<dt>
                <dd>
                    {% for item in locations %}
                        <a href="{{ item.url | url }}">{{- item.data.title -}}</a>
                        {%- if not loop.last %}, {% endif %}
                    {% endfor %}
                </dd>
            {% endif %}
        </dl>
        {#
        <img
            src="{{ macros.monster_img(page.fileSlug) }}"
            title="{{ title }}" />
        #}
        {% if quests | length %}
            <h2>Quests</h2>
            <ul>
                {% for item in quests %}
                    <li>
                        <a href="{{ item.url }}">
                            {{- item.data.title -}}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="grid__media">
        {% if video %}
            {{ macros.video(video) }}
        {% endif %}
    </div>
</div>
