---
layout: layouts/base.njk
---
{% set quests = collections.quests__by_monster[page.fileSlug] %}
{% set locations = collections.locations__by_monster[page.fileSlug] %}

<grid columns=12 columns-s=4>

<c span="row">
    <h1>{{ title }}</h1>
</c>
<c span=6>
    {{ content | safe }}
    <dl>
        <dt>Species</dt>
        <dd>{{ species }}</dd>
        {% if locations | length %}
            <dt>Locations<dt>
            <dd>
                {% for item in locations %}
                    <a href="{{ item.url | url }}">{{- item.data.title -}}</a>
                    {%- if not loop.last %}, {% endif %}
                {% endfor %}
            </dd>
        {% endif %}
    </dl>
    {% if quests | length %}
        <h2>Quests</h2>
        <ul class="compact">
            {% for item in quests %}
                <li>
                    <a href="{{ item.url }}">
                        {{- item.data.title -}}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</c>

<c span=6>
    {% if video %}
        {% include 'components/video.njk'%}
    {% endif %}
</c>



{#
<p>List of quests that have this monster, with the best or most recent speedrun of above mentioned quests.</p>
<p>Might be useful to make a distinction between, regular, tempered and arch-tempered variants</p>

--- need extra layer ---

<c span=6>
    <h2>Runs</h2>
    <ul class="compact">
        {% for run in collections.runs__by_monster[page.fileSlug] %}
            <li>
                {% include "components/links/run-link.njk" %}
            </li>
        {% endfor %}
    </ul>
</c>
#}
</grid>
