---
layout: layouts/base.njk
---

{% set _location = collections.lookup.location[location] %}
{% set runs = collections.runs__by_quest[page.fileSlug] %}
<div class="grid">
    <div class="grid__row">
        <h1>{{ title }}</h1>
        {{ content | safe }}

        <dl>
            <dt>Quest Type</dt>
            <dd>{{ quest_type | label }}</dd>
            <dt>Monster{% if monsters | length > 1 %}s{% endif %}</dt>
            <dd>
                {% for item in monsters %}
                    {% set temp = collections.lookup.monster[item] %}
                    <a href="{{ temp.url | url }}">{{ temp.data.title }}</a>
                    {%- if not loop.last%},{% endif %}
                {% endfor %}
            </dd>
            <dt>Location<dt>
            <dd>
                <a href="{{ _location.url | url }}">{{ _location.data.title }}</a></li>
            </dd>
        </dl>
    </div>

    {% if runs | length %}
        {% set count = 0 %}
        <div class="grid__row">
            <h2>Runs</h2>

            {#
                --- SUPER EXPERIMENTAL STUFF HERE ---
            #}
            <style>
            .filters {
                margin-top: var(--blockSpacingTop);
                margin-bottom: var(--blockSpacingBottom);
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
            }
            .filters > div {
                margin-right: 2em;
            }
            .filters > div:last-child {
                margin-right: unset;
            }
            .filters label {
                display: block;
            }
            .filters select {
                display: block;
                padding: 0.5em;
            }
            </style>
            <div class="filters">
                <div>
                    <label for="select--ruleset">Ruleset</label>
                    <select name="ruleset" id="select--ruleset">
                        <option value="">Any</option>
                        {% for rulesetSlug in rulesets %}
                            <option value="{{ rulesetSlug }}">{{ rulesetSlug | label }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="select--weapon">Weapon</label>
                    <select name="weapon" id="select--weapon">
                        <option value="">Any</option>
                        {% for weaponSlug in global_weapons %}
                            {% set weapon = collections.lookup.weapon[weaponSlug] %}
                            <option value="{{ weaponSlug }}">{{ weapon.data.title }} · {{ translations.jp.weapons[weaponSlug] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="select--platform">Platform</label>
                    <select name="platform" id="select--platform">>
                        <option value="">Any</option>
                        {% for platformSlug in platforms %}
                            <option value="{{ platformSlug }}">{{ platformSlug | label }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <table class="tablesort">
                <thead>
                    <tr>
                        <th class="no-sort" data-sort-method='none'>Runner</th>
                        <th data-sort-default>Time</th>
                        <th>Weapon</th>
                        <th class="no-sort" data-sort-method='none'>Video</th>
                    </tr>
                </thead>
                <tbody>
                {% for run in runs %}
                    {% if run.data.runners.length == 1 %}
                        {% set count = count + 1 %}
                        {%- set runner = collections.lookup.runner[ run.data.runners|first ] %}
                        <tr
                            data-ruleset="{{ run.data.run_type }}"
                            data-weapon="{{ run.data.weapons|join(' ') }}"
                            data-platform="{{ run.data.platform }}"
                            >
                            <td class="tablesort__runner">
                                {%- include "components/links/runner-link.njk" %}
                            </td>
                            <td class="tablesort__time">
                                <a href="{{ run.url | url }}">
                                    {{ run.data.time }}
                                </a>
                            </td>
                            <td class="tablesort__weapon" data-sort='{{ run.data.weapons|first }}'>
                                {% for weapon in run.data.weapons %}
                                    <img
                                        src="/assets/img/weapon-icon/{{ weapon | slug }}.png"
                                        height="40px"
                                        width="40px"
                                        style="display:inline-block; border: 1px solid black; padding: 5px; background-color: #333;"
                                        alt="{{ collections.lookup.weapon[ weapon ].data.title }}"
                                        />
                                {% endfor %}
                            </td>
                            <td class="tablesort__video">
                                <button
                                    style="margin: 0; overflow: visible; border: 0; padding: 0"
                                    data-micromodal-trigger="modal-{{ loop.index }}">
                                    <img
                                        src="/assets/img/ui/next.png"
                                        height="40px"
                                        width="40px"
                                        style="display:inline-block; border: 1px solid black; padding: 5px; background-color: #fff;"
                                        alt="Play video"
                                        />
                                </button>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>

            {% for run in runs %}
                <div class="modal micromodal-slide" id="modal-{{ loop.index }}" aria-hidden="true">
                    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
                        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-{{ loop.index }}-title" >
                            <div class="modal__header">
                                <h3 class="modal__title" id="modal-{{ loop.index }}-title">
                                    {% set runners = run.data.runners %}
                                    {% include "components/run-title.njk" %}
                                </h3>
                                <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
                            </div>
                            <div class="modal__content"  id="modal-{{ loop.index }}-content">
                                {% set video = run.data.video %}
                                {% include "components/video.njk" %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {#
                --- END ---
            #}

            {#
            <ul>
                {% for run in runs %}
                    {% if run.data.runners.length == 1 %}
                        {% set count = count + 1 %}
                        <li data-weapons="{{ run.data.weapons|join(' ') }}">
                            {% include "components/links/run-link.njk" %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            #}
        </div>

        {% if count < runs | length %}
            <div class="grid__row">
                <h2>Multiplayer</h2>
                <ul>
                    {% for run in runs %}
                        {% if run.data.runners.length > 1 %}
                            <li>
                                [{{ run.data.runners.length }}P]
                                {% include "components/links/run-link.njk" %}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

    {% endif %}
{# --- check for weapons, check for multiplayer, etc. --- #}
</div>
