---
layout: layouts/base.njk
---

<div class="grid grid--weapon">
    <div class="grid__row">
        <h1>{{ title }}</h1>
    </div>
    <div class="grid__content">
        {{ content | safe }}
        <dl>
            <dt>Type</dt>
            <dd>{{ weapon_type }}</dd>
        </dl>
        <h2>Runners</h2>
        {% if collections.runners__by_weapon[page.fileSlug] %}
            <ul>
                {% for runner in collections.runners__by_weapon[ page.fileSlug ] %}
                    <li>
                        {% include "components/links/runner-link.njk" %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No runners found!</p>
        {% endif %}
    </div>

    <div class="grid__media">
        {% if video %}
            {% include "components/video.njk" %}
        {% endif %}
    </div>
</div>
