{#
Parameters:
    - runner
#}
<a href="{{ runner.url | url }}">
    {{- runner.data.title -}}
</a>
{% if runner.data.country %}
    <span class="flag-icon flag-icon-{{ runner.data.country }}"></span>
{% endif %}
