@import '_variables';
@import '_typography';
@import '_reset';
@import '_elements';

//*
@supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', -system-ui, system-ui, sans-serif; }
}
//*/

html {
    font-family: 'Inter', -system-ui, system-ui, sans-serif;
    font-size: var(--fontSize);
    line-height: var(--lineHeight);
    letter-spacing: -0.01em;
    text-size-adjust: 100%;
    font-variant-ligatures: contextual common-ligatures;
    font-feature-settings: 'cv10' 1; /* G */
    background-color: #EEE;
}

body {
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    overflow-x: hidden;
    padding: var(--lineHeight);
    padding-top: 0;
    padding-bottom: calc(var(--lineHeight) * 2);
}

@media only screen and (min-width: $breakpointS) {
    body {
        // padding: calc(var(--lineHeight) * 2);
        // padding-bottom: calc(var(--lineHeight) * 3);
        padding: 48px;
        padding-top: 0;
        padding-bottom: 72px;
    }
}

// HELPERS

.show-base-grid,
.show-base-grid header,
.show-base-grid footer
{
    background-image: repeating-linear-gradient(0deg,
            rgba(120, 120, 120, 0.05),
            rgba(120, 120, 120, 0.05) 1px,
            transparent 1px,
            transparent calc(var(--baseline) / 2),
            rgba(20, 230, 245, 0.3) calc(calc(var(--baseline) / 2)),
            rgba(20, 230, 245, 0.3) calc(calc(var(--baseline) / 2) + 1px),
            transparent calc(calc(var(--baseline) / 2) + 1px),
            transparent var(--baseline));
    background-repeat: repeat-y;
    background-size: 100% var(--baseline);
    background-position: 0 0.5px;
}

.debug .grid > * {
    --color: rgba(248,110,91 ,0.3);
    background-image: linear-gradient(to bottom, var(--color) 0%, var(--color) 100%);
}
.debug .grid > :nth-child(6n+2) { --color: rgba(103,126,208,0.3) }
.debug .grid > :nth-child(6n+3) { --color: rgba(224,174,72 ,0.3) }
.debug .grid > :nth-child(6n+4) { --color: rgba(77, 214,115,0.3) }
.debug .grid > :nth-child(6n+5) { --color: rgba(217,103,219,0.3) }
.debug .grid > :nth-child(6n+6) { --color: rgba(94, 204,211,0.3) }
.debug .grid > :nth-child(6n+7) { --color: rgba(248,110,91 ,0.3) }

.single-line {
    white-space: nowrap;
    overflow: hidden; // note: safari shows scrollbars unless y=hidden
    text-overflow: ellipsis;
}

.visually-hidden {
    position: absolute;
    left: -9999em;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

[hidden] {
    display: none;
}

// .skiplink

.skiplink {
    display: inline-block;
    position: absolute;
    left: -9999em;
    top: 1em;
}

.skiplink:focus {
    left: 1em;
    z-index: 1;
}

// 16:9 Embeds
// See: https://embedresponsively.com/

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

// --------
// ELEMENTS
// --------

a:focus
{
    background-color: #ffbf47;
    outline: 3px solid #ffbf47;
}

button:focus,
select:focus,
input:focus,
textarea:focus {
    outline: 3px solid #ffbf47;
}

li.active a {
    font-weight: 700;
}

// ---------
// STRUCTURE
// ---------

.inner {
    max-width: 1280px;
    margin: 0 auto;
}

grid:last-child {
    margin-bottom: var(--blockSpacingBottom);
}

header h1,
.site-name {
    font-weight: 700;
    letter-spacing: -0.02em;
    padding-top: calc(var(--baseline) * 0.75);
    padding-bottom: calc(var(--baseline) * 0.25);
    margin-bottom: var(--baseline);
    text-decoration: none;

    white-space: normal; // for mobile
}

header h1 {
    font-size: var(--h2-size);
}

.site-name {
    font-size: var(--h3-size);
}

@media only screen and (min-width: $breakpointS) {
    header h1 {
        font-size: var(--h1-size);
    }

    .site-name {
        /* take h3 styling instead */
        font-size: var(--h2-size);
    }
}



.site-name:hover {
    color: inherit;
}
.site-name:focus {
    background-color: var(--blue);
    outline-color: var(--blue);
}

header {
    color: #fff;
    background-color: #333;
    // padding: var(--lineHeight) calc(var(--lineHeight)*2);
    // margin-left: calc(var(--lineHeight)*-2);
    // margin-right: calc(var(--lineHeight)*-2);
    padding: 24px;
    margin-left: -24px;
    margin-right: -24px;
}

main {
    // padding-top: calc(var(--lineHeight));
    // padding-bottom: calc(var(--lineHeight));
    padding-top: 24px;
    padding-bottom: 24px;
}

footer {
    background-color: #dee0e2;

    // padding: calc(var(--lineHeight)* 1) calc(var(--lineHeight)* 2) calc(var(--lineHeight)* 3) calc(var(--lineHeight)* 2);
    // margin-left: calc(var(--lineHeight) * -2);
    // margin-right: calc(var(--lineHeight) * -2);
    // margin-bottom: calc(var(--lineHeight) * -3);
    padding: 24px 24px 48px 24px;
    margin-left: -24px;
    margin-right: -24px;
    margin-bottom: -48px;
}

@media only screen and (min-width: $breakpointS) {
    header {
        padding: 24px 48px;
        margin-left: -48px;
        margin-right: -48px;
    }

    main {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    footer {
        padding: 24px 48px 72px 48px;
        margin-left: -48px;
        margin-right: -48px;
        margin-bottom: -72px;
    }
}

// .inner { border: 1px solid red; }
// header, footer { border: 1px solid green; }

// ------
// FOOTER
// ------

.footer-list {
    list-style: none;
    padding-left: 0;
}

.footer-list__link {
    color: #454a4c;
}

.footer-credits {
    font-feature-settings: 'tnum' 1;
}

// -----------
// BREADCRUMBS
// -----------

.breadcrumbs {
    height: calc(var(--lineHeight) * 1);
}

.breadcrumbs__list {
    list-style: none;
    margin-bottom: unset;
    margin: 0;
    padding-left: 0;
}

.breadcrumbs__list-item {
    display: inline-block;
    margin-bottom: unset;
    position: static;
}
.breadcrumbs__list-item:before {
    /* reset the ol */
    content: none;
    position: static;
    left: 0;
    display: inline;
}

.breadcrumbs__list-item + .breadcrumbs__list-item:before {
    content: '⟶';
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.breadcrumbs [aria-current="page"] {
    color: #000;
    font-weight: 700;
    text-decoration: none;
}

// ------------
// INLINE LISTS
// ------------

.header-links {
    margin-top: 0.5em;
    line-height: calc(var(--lineHeight)*2);
}

.header-links__link:hover {
    outline: 10px solid black;
    background-color: black;
    color: white;
}

.header-links__link:focus,
.header-links__link:active {
    outline: 10px solid var(--yellow);
    background-color: var(--yellow);
}

.header-links__link--ghost {
    outline: 1px solid black;
    padding: 10px;
    text-decoration: none;
}
.header-links__link--ghost:hover {
    color: white;
    background-color: black;
}
.header-links__link--ghost:focus,
.header-links__link--ghost:active {
    color: white;
    outline: 1px solid var(--yellow);
    background-color: var(--yellow);
}


.header-links,
.footer-links {
    padding-left: 0;
    margin-bottom: unset;
}

.header-links__item,
.footer-links__item {
    display: inline-block;
    margin-right: 1em;
    margin-bottom: unset;
}

// ----------------
// DEFINITION LISTS
// ----------------

dt {
    margin-bottom: unset;
    font-weight: 700;
}

dd {
    margin-bottom: calc(var(--lineHeight) * 0.5);
    margin-left: 1em;
}

// ----
// GRID
// ----

// .grid {
//     display: grid;
//     grid-template-columns: repeat(4, 1fr);
//     grid-column-gap: var(--columnGap);
//     grid-row-gap: var(--rowGap);
//     margin-top: var(--blockSpacingTop);
//     margin-bottom: var(--blockSpacingBottom);
// }
// .grid__column {
//     grid-column-end: span 4;
// }

// @media only screen and (min-width: 720px) {
//     .grid { grid-template-columns: repeat(6, 1fr); }
//     .grid__column { grid-column-end: span 3; }
// }
// @media only screen and (min-width: 1100px) {
//     .grid { grid-template-columns: repeat(12, 1fr); }
//     .grid__column { grid-column-end: span 4; }
// }

/*
grid {
    display: grid;
    --grid-tc: repeat(4, 1fr);
    grid-template-columns: var(--grid-tc);
    --grid-cs: 1; // column start
    --grid-ce: -1 // column end
}
*/

.grid {
    --grid-tc: repeat(4, 1fr);
    display: grid;
    grid-template-columns: var(--grid-tc);
    grid-column-gap: var(--columnGap);
    grid-row-gap: var(--rowGap);
    margin-top: var(--blockSpacingTop);
    margin-bottom: var(--blockSpacingBottom);
}

@media only screen and (min-width: $breakpointS) { .grid { --grid-tc: repeat(6, 1fr); } }
@media only screen and (min-width: $breakpointM) { .grid { --grid-tc: repeat(12, 1fr); } }

// Check max width with relation to minmax column size
.grid.grid--double { --grid-tc: repeat(auto-fit, minmax(100%, 1fr)); }
.grid.grid--triple { --grid-tc: repeat(auto-fit, minmax(100%, 1fr)); }
.grid.grid--quadra { --grid-tc: repeat(auto-fit, minmax(100%, 1fr)); }
@media only screen and (min-width: $breakpointS) {
    .grid.grid--double { --grid-tc: repeat(auto-fit, minmax(450px, 1fr)); }
    .grid.grid--triple { --grid-tc: repeat(auto-fit, minmax(350px, 1fr)); }
    .grid.grid--quadra { --grid-tc: repeat(auto-fit, minmax(250px, 1fr)); }
}




/* grid__item, or grid__cell?
.grid__row,
.grid__column {
    display: block;
    appearance: none;
    -webkit-appearance: none;
}
*/

// grid__item--row, or grid__cell--row?
.grid__row           { grid-column: 1 / -1; }
.grid__content       { grid-column-end: span 4; }
.grid__content--wide { grid-column-end: span 4; }
.grid__media         { grid-column-end: span 4; }
.grid__aside         { grid-column-end: span 4; }

@media only screen and (min-width: $breakpointS) {
    .grid__content       { grid-column-end: span 6; }
    .grid__content--wide { grid-column-end: span 6; }
    .grid__media         { grid-column-end: span 6; }
    .grid__aside         { grid-column-end: span 6; }
}
@media only screen and (min-width: $breakpointM) {
    .grid__content       { grid-column-end: span 4; }
    .grid__content--wide { grid-column-end: span 8; }
    .grid__media         { grid-column-end: span 8; }
    .grid__aside         { grid-column-end: span 4; }
}

// .grid--etc...
// ??

// ------------------
// MULTI-COLUMN LISTS
// ------------------

.multi-column-list {
    column-count: 1;
    column-gap: var(--columnGap);
    padding-left: 0;
    list-style-type: none;
    // column-rule: var(--columnGap) solid black;
}
@media only screen and (min-width: $breakpointS) { .multi-column-list { column-count: 2; } }
@media only screen and (min-width: $breakpointM) { .multi-column-list { column-count: 4; } }

// -----
// CARDS
// -----

.card-list {
    display: grid;
    // grid-template-columns: repeat(1, 1fr);

    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));

    @media only screen and (min-width: $breakpointS) {
        grid-template-columns: repeat(auto-fit, minmax( calc(var(--lineHeight) * 16) , 1fr));
    }

    grid-auto-rows: calc(var(--lineHeight) * 9);

    grid-column-gap: var(--columnGap);
    grid-row-gap: var(--rowGap);
    margin-top: var(--blockSpacingTop);
    margin-bottom: var(--blockSpacingBottom);
}
// @media only screen and (min-width: 720px) { .card-list { grid-template-columns: repeat(2, 1fr); } }
// @media only screen and (min-width: 1100px) { .card-list { grid-template-columns: repeat(3, 1fr); } }

.card-wrap {
    /* margin: 10px; */
    transform: perspective(800px);
    transform-style: preserve-3d;
    cursor: pointer;

    height: calc(var(--lineHeight) * 9);
    margin-bottom: unset;

    &:hover,
    &:focus-within {
        .card {
            transition:
                0.6s var(--hoverEasing),
                box-shadow 2s var(--hoverEasing);
            box-shadow:
                rgba(white, 0.2) 0 0 40px 5px,
                rgba(white, 1) 0 0 0 1px,
                // rgba(black, 0.66) 0 30px 60px 0,
                inset #333 0 0 0 5px,
                inset white 0 0 0 6px;
        }
        .card__bg {
            transition:
                0.6s var(--hoverEasing),
                opacity 5s var(--hoverEasing);
            opacity: 0.8;
        }
        .card__info {
            transition: 0.6s var(--hoverEasing);
            transform: translateY(0);
        }
        .card__info:after {
            transition: 5s var(--hoverEasing);
            opacity: 1;
            transform: translateY(0);
        }
        .card__link,
        .card__subtitle-outline {
            background-color: black;
            outline: 5px solid black;
        }
        .card__subtitle {
            transition: 0.6s var(--hoverEasing);
            opacity: 1;
        }
    }
}

.card {
    position: relative;
    width: 100%;
    height: calc(var(--lineHeight) * 9);
    background-color: #333;
    overflow: hidden;
    // border-radius: 10px;
    box-shadow:
        // rgba(black, 0.66) 0 30px 60px 0,
        inset #333 0 0 0 5px,
        inset rgba(white, 0.5) 0 0 0 6px;
    transition: 1s var(--returnEasing);
}

.card__bg {
    opacity: 0.5;
    position: absolute;
    top: -20px;
    left: -20px;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition:
        1s var(--returnEasing),
        opacity 5s 1s var(--returnEasing);
    pointer-events: none;
}
.card__info {
    padding: 20px;
    position: absolute;
    bottom: 0;
    color: #fff;
    transform: translateY(40%);
    transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
    z-index: 1;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to bottom, transparent 0%, rgba(#000, 0.6) 100%);
        background-blend-mode: overlay;
        opacity: 0;
        transform: translateY(100%);
        transition: 5s 1s var(--returnEasing);
    }
}
.card__title {
    /* text-shadow: rgba(black, 0.5) 0 10px 10px; */
    margin-bottom: calc(var(--lineHeight) * 0.5);
}
.card__link:focus {
    background-color: black;
    outline: 5px solid black;
}
.card__subtitle {
    // h4 style
    font-size: var(--h4-size);
    font-weight: 700;
    letter-spacing: -0.012em;
    padding-top: calc(var(--baseline) * 0.75);
    padding-bottom: calc(var(--baseline) * 0.25);
    margin-bottom: var(--baseline);
}


// --------------------------------------------------------------------------------
// Source: http://tristen.ca/tablesort/tablesort.css
// --------------------------------------------------------------------------------

.tablesort {
    // font-size: 0.9rem; // experimental

    tr, td, th {
        border : 1px solid;
    }
    th {
        padding: 0.5em;
        padding-right: 1em;
        vertical-align: bottom;
        text-align: left;
        font-weight: 700;
    }

    /*
    @media only screen and (min-width: $breakpointS) {
        th:first-child {
            min-width: 10em; // extra spacing for runner column
        }
    }
    */
    th img {
        width: 32px;
        height: 32px;
        display: inline-block !important;
        vertical-align: middle;
    }
    td img,
    td img:first-child,
    td img:last-child {
        width: 32px;
        height: 32px;
        display: inline-block !important;
        vertical-align: middle;
        margin: 0;
    }
    td {
        padding: 0.5em;
        vertical-align: middle;
        // text-align: center;
    }
    // runs
    .tablesort__runner { text-align: left; }
    .tablesort__time   { text-align: right; font-feature-settings: 'tnum' 1; }
    .tablesort__weapon { text-align: center; }
    .tablesort__video  { text-align: center; }

    // quests
    .tablesort__title      { text-align: left; }
    .tablesort__type       { text-align: left; }
    .tablesort__difficulty { text-align: center; }
    .tablesort__location   { text-align: left; }
    .tablesort__expansion  { text-align: left; }



    // ---

    th[role=columnheader]:not(.no-sort) {
        cursor: pointer;
    }

    th[role=columnheader]:not(.no-sort):after {
        content: '';
        float: right;
        margin-top: 7px;
        border-width: 0 4px 4px;
        border-style: solid;
        border-color: #404040 transparent;
        visibility: hidden;
        opacity: 0;
        -ms-user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    th[aria-sort=ascending]:not(.no-sort):after {
        border-bottom: none;
        border-width: 4px 4px 0;
    }

    th[aria-sort]:not(.no-sort):after {
        visibility: visible;
        opacity: 0.4;
    }

    th[role=columnheader]:not(.no-sort):hover:after {
        visibility: visible;
        opacity: 1;
    }

}

// Leaderboards Tables
// -------------------
.summary {
    width: 100%;
    border : 1px solid;

    tr, td, th {
        border : 1px solid;
        text-align: center;
    }
    th {
        padding: 0.5em;
        vertical-align: middle;
        font-weight: 700;
    }
    th img {
        width: 32px;
        height: 32px;
        display: inline-block !important;
        vertical-align: middle;
    }
    td img,
    td img:first-child,
    td img:last-child {
        width: 32px;
        height: 32px;
        display: inline-block !important;
        vertical-align: middle;
        margin: 0.2em 0 !important;
    }
    td {
        padding: 0.5em;
        vertical-align: middle;
    }
}

.summary__head--huge {
    font-size: 2rem;
}

// ----------------
// Micromodal
// https://micromodal.now.sh/
// ----------------

.modal {
    display: none;
    z-index: 9999;
    position: relative;
}

.modal.is-open {
    display: block;
}

/**************************\
  Basic Modal Styles
\**************************/

.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__container {
    max-width: 1200px;
    max-height: 100vh;
    overflow-y: auto;
    box-sizing: border-box;
    background: #fff;
    padding: 1em;

    width: 1200px;
    z-index: 9999;
}

.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.modal__title {
    box-sizing: border-box;
}

.modal__close {
    background: transparent;
    border: 0;
    height: 2em;
}

.modal__header .modal__close:before { content: "\2715"; }

.modal__content {
}

@keyframes mmfadeIn {
from { opacity: 0; }
to { opacity: 1; }
}

@keyframes mmfadeOut {
from { opacity: 1; }
to { opacity: 0; }
}

@keyframes mmslideIn {
from { transform: translateY(15%); }
to { transform: translateY(0); }
}

@keyframes mmslideOut {
from { transform: translateY(0); }
to { transform: translateY(-10%); }
}

.micromodal-slide {
display: none;
}

.micromodal-slide.is-open {
display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
    animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
    animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
    animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
    animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
    will-change: transform;
}


// General

.weapon-icon {
    height: 32px;
    width: 32px;
    display: inline-block;
    border: 1px solid black;
    padding: 5px;
    background-color: #333;
}

// Filters for runs

.filters {
    background-color: #dee0e2;
    padding: 1em;
    margin-top: var(--blockSpacingTop);
    margin-bottom: var(--blockSpacingBottom);
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.filters > div {
    margin-right: 2em;
}
.filters > div:last-child {
    margin-right: unset;
}
.filters label {
    display: block;
}
.filters select {
    display: block;
    padding: 0.5em;
}


// See: https://inclusive-components.design/tabbed-interfaces/
// See: https://codepen.io/heydon/pen/veeaEa
[role="tablist"] {
    padding: 0;
    margin: 0;
}

[role="tablist"] li,
[role="tablist"] a,
[role="tablist"] img {
    display: inline-block;
}

[role="tablist"] a {
    text-decoration: none;
    padding: 0.5rem 1em;
}

[role="tablist"] [aria-selected] {
    border: 1px solid;
    border-top: 4px solid;
    background: #EEE;
    border-bottom: 0;
    position: relative;
    top: 1px;
}

[role="tabpanel"] {
    border: 1px solid;
    padding: 1.5rem;
}

[role="tabpanel"]:focus {
    // outline: 1px solid #ffbf47;
    outline: 0;
}

.tabbed--wide [role="tabpanel"] {
    border: 0;
    padding: 0;
    border-top: 1px solid black;
    padding-top: 1.5rem;
}

[role="tablist"] *:focus {
    outline: none;
    box-shadow: inset 0 0 0 4px #ffbf47;
}

@media (max-width: 550px) {
    [role="tablist"] li,
    [role="tablist"] a {
        display: block;
        position: static;
    }

    [role="tablist"] a {
        border: 1px solid #222 !important;
    }

    [role="tablist"] li+li a {
        border-top: 0 !important;
    }

    [role="tablist"] [aria-selected] {
        position: static;
    }

    [role="tablist"] [aria-selected]::after {
        content: '\0020⬅';
    }

    [role="tabpanel"] {
        border-top: 0;
    }
}


// Buttons
// -------

a.button {
    display: inline-block;
    color: #fff;
    background-color: #000;
    // border-color: #000;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    line-height: 1.5;
    transition:
        color .15s ease-in-out,
        background-color .15s ease-in-out,
        border-color .15s ease-in-out,
        box-shadow .15s ease-in-out
    ;
}

a.button--ghost {
    background-color: transparent;
    border-color: #000;
    color: #000;
    text-decoration: none;
}

a.button--ghost:hover {
    background-color: #000;
    color: #fff;
}

a.button:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,0,0,.5);
}


// Quest cards on Homepage
// -----------------------


.quest-card {
    // overflow-wrap: break-word;
    // word-wrap: break-word;
    // hyphens: auto;
    overflow: hidden;
    background-color: white;
    display: flex;
    padding: 0.5em;
    align-items: center;
    position: relative;
    transition:
        color .15s ease-in-out,
        background-color .15s ease-in-out,
        border-color .15s ease-in-out,
        box-shadow .15s ease-in-out
    ;
}
.quest-card:hover,
.quest-card:focus-within {
    box-shadow: 0 0 0 0.2rem rgba(0,0,0,.5);
}
img.quest-card__image {
    // reset default margins
    margin-top: 0;
    margin-bottom: 0;

    width: 48px;
    height: 48px;
    display: inline-block;
    padding: 5px;
}
.quest-card__content {
    margin-left: 1rem;
    display: block;
}
.quest-card__content a {
    word-wrap: break-word;
}

.quest-card__content a:focus {
    background-color: transparent;
    outline: 0;
}
.quest-card__content a::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.quest-card__image.variant--tempered {
    filter:
        drop-shadow(1px 0px 0px #744ACC)
        drop-shadow(-1px 0px 0px #744ACC)
        drop-shadow(0px 1px 0px #744ACC)
        drop-shadow(0px -1px 0px #744ACC)
    ;
}
.quest-card__image.variant--arch-tempered {
    filter:
        drop-shadow(1px 0px 0px #FF6000)
        drop-shadow(-1px 0px 0px #FF6000)
        drop-shadow(0px 1px 0px #FF6000)
        drop-shadow(0px -1px 0px #FF6000)
    ;
}



// Leaderboards
// -----------------------

.leaderboards {
    tr.toggle-runs {
        cursor: pointer;
    }
    tr.toggle-runs:hover {
        background-color: #ffbf47;
    }
}

// Note: leaderboards collapsed view on smaller devices
//*
@media (max-width: 700px) {
    .leaderboards {
        border: 0 !important;
        border-collapse: collapse;

        tr:nth-of-type(1) {
            display: none;
        }
        tr {
            display: flex;
            text-align: left;
        }
        tr[hidden] {
            display: none;
        }
        tr.toggle-runs + tr {
            border-top: 1px dashed black;
        }
        tr {
            border-top: 1px solid black;
            border-left: 1px solid black;
            border-right: 1px solid black;
            border-bottom: 0;
        }
        tr:last-child {
            border-bottom: 1px solid black;
        }
        td {
            border: 0 !important;
        }
        td:nth-of-type(1),
        td:nth-of-type(2) {
            display: inline-block;
            border: 0;
        }
        td:nth-of-type(2) {
            margin-right: auto;
        }
        td:nth-of-type(3),
        td:nth-of-type(4),
        td:nth-of-type(5) {
            display: inline-block;
            border: 0;
        }
        td:nth-of-type(3):after { content: "🥇"; }
        td:nth-of-type(4):after { content: "🥈"; }
        td:nth-of-type(5):after { content: "🥉"; }

        th { display: none; }
        td:nth-of-type(6) { display: none; }
    }
}
//*/


.table-wrapper {
    overflow-x: auto;
}

small, sub, sup { font-size: 80%; }
sub             { vertical-align: sub; }
sup             { vertical-align: super; }



/**
Icons
*/
.icon {
    height : 1rem;
    width  : 1rem;
    vertical-align: middle;
    filter:
        drop-shadow(1px 0px 0px #999)
        drop-shadow(-1px 0px 0px #999)
        drop-shadow(0px 1px 0px #999)
        drop-shadow(0px -1px 0px #999)
    ;
}
.summary__head--huge .icon {
    height : 2rem;
    width  : 2rem;
}

/*
.icon--gold   { color: #8B7A41; }
.icon--silver { color: #8B8B8A; }
.icon--bronze { color: #865B44; }
*/
.icon--gold   {
    color: #FEE101;
    filter:
        drop-shadow(1px 0px 0px #D6AF36)
        drop-shadow(-1px 0px 0px #D6AF36)
        drop-shadow(0px 1px 0px #D6AF36)
        drop-shadow(0px -1px 0px #D6AF36)
    ;
}
.icon--silver {
    color: #D7D7D7;
    filter:
        drop-shadow(1px 0px 0px #A7A7AD)
        drop-shadow(-1px 0px 0px #A7A7AD)
        drop-shadow(0px 1px 0px #A7A7AD)
        drop-shadow(0px -1px 0px #A7A7AD)
    ;
}
.icon--bronze {
    color: #A77044;
    filter:
        drop-shadow(1px 0px 0px #824A02)
        drop-shadow(-1px 0px 0px #824A02)
        drop-shadow(0px 1px 0px #824A02)
        drop-shadow(0px -1px 0px #824A02)
    ;
}


/*
.hint
*/

.hint {
    border-width: 1px 1px 1px 8px;
    border-style: solid;
    padding: 1em;
    color: rgb(102, 102, 102);
    background: rgb(249, 249, 249);
    border-color: rgb(102, 102, 102);
}

.hint--info {
    color: #0c5460;
    background: #e3f1fc;
    border-color: #80a8c6;
}

.hint--warning {
    color: rgb(150, 105, 0);
    background: rgb(255, 246, 221);
    border-color: rgb(150, 105, 0);
}

.hint--error {
    color: rgb(206, 55, 55);
    background: rgb(255, 245, 245);
    border-color:  rgb(206, 55, 55);
}

.hint--success {
    color: rgb(29, 125, 63);
    background: rgb(234, 250, 234);
    border-color: rgb(29, 125, 63);
}
