{# --- Only show breadcrumbs when two levels down, i.e. when three items to show --- #}
{% if page.url != '/' and general.parent[ type ] is defined %}
    {% set parent = general.parent[ type ] %}
    <nav aria-label="Breadcrumb" class="breadcrumb">
        <div class="inner">
            <span>You are here:</span>
            <ol>
                <li><a href="/">Home</a></li>
                <li><a href="{{ parent.url | url }}">{{ parent.title }}</a></li>
                <li><a href="{{ page.url | url }}" aria-current="page">
                    {%- if type == 'run' %}
                        {%- include "components/run-title.njk" %}
                    {%- else %}
                        {{- title }}
                    {%- endif -%}
                </a></li>
            </ol>
        </div>
    </nav>
{% endif %}
