<div class='embed-container'>
    <iframe
        src='{{ video | replace("youtube.com", "youtube-nocookie.com") }}?modestbranding=1&rel=0'
        frameborder='0'
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
</div>
