<footer>
    <div class="inner">

        {% include "components/breadcrumb.njk" %}

        <grid columns=12>
            <c span=4>
                <h2>Event Quests</h2>
                <ul>
                    {% for item in collections.quests__event %}
                        <li
                            {% if page.url == item.url %} class="active"{% endif %}>
                            <a href="{{ item.url | url }}">
                                {{- item.data.title -}}
                            </a>
                        </li>
                    {% endfor  %}
                </ul>
            </c>
            <c span=4>
                <h2>Locations</h2>
                <ul>
                    {% for slug in locations %}
                        {% set item = collections.lookup.location[slug] %}
                        <li
                            {% if page.url == item.url %} class="active"{% endif %}>
                            <a href="{{ item.url | url }}">
                                {{- item.data.title -}}
                            </a>
                        </li>
                    {% endfor  %}
                </ul>
            </c>
            <c span=4>
                <h2>Weapons</h2>
                <ul>
                    {% for slug in global_weapons %}
                        {% set item = collections.lookup.weapon[slug] %}
                        <li
                            {% if page.url == item.url %} class="active"{% endif %}>
                            <a href="{{ item.url | url }}">
                                {{- item.data.title -}}
                            </a>
                        </li>
                    {% endfor  %}
                </ul>
            </c>

            <hr>

            <c span="row">
                <h2 class="visually-hidden">Support Links</h2>
                {# -- move to css because decorative, saves ink on printing OMEGALUL -- #}
                <img src="/assets/img/achievement/conqueror-of-the-new-world.png" height="120px" width="120px" style="float: right; filter: grayscale(1);" alt="">
                <ul class="footerlinks">
                    {% for url, label in general.footer %}
                        <li{% if page.url == url %} class="active"{% endif %}>
                            <a href="{{ url | url }}">
                                {{- label -}}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <p class="credits">
                    <br>
                    {# Made by <a href="https://github.com/shinseiken">ShinSeiKen</a> - <a href="{{ general.repository }}/tree/master/{{ page.inputPath }}">Edit this page on GitHub</a><br><br> #}
                    Made by <a href="{{ '/runners/shinseiken' | url }}">ShinSeiKen</a>.<br>
                    Last build: <time datetime="{{ 'now' | currentDateTimeISO }}">{{ 'now' | currentDateTime }}</time>
                </p>
            </c>
        </grid>
    </div>
</footer>
