<footer>
    <div class="inner">
        {% include "components/breadcrumb.njk" %}
        <br>
        <br>
        <ul class="footer-links">
            {% for url, label in general.footer %}
                {% set active = '' %}
                {% if page.url == url %}
                    {% set active = 'active' %}
                {% endif %}
                <li class="footer-links__item {{ active }}">
                    <a class="footer-links__link" href="{{ url | url }}">
                        {{- label -}}
                    </a>
                </li>
            {% endfor %}
            <li class="footer-links__item">
                <span data-ccpa-link="1"></span>
                <span id="consent-box" style="display:none">
                    <button onclick="window.__cmp('showModal');">
                        Update cookie preferences
                    </button>
                </span>
            </li>
        </ul>
        <p class="footer-credits">
            <br>
            {# Made by <a href="https://github.com/shinseiken">ShinSeiKen</a> - <a href="{{ general.repository }}/tree/master/{{ page.inputPath }}">Edit this page on GitHub</a><br><br> #}
            Made by <a href="{{ '/runners/shinseiken' | url }}">ShinSeiKen</a>.<br>
            {# --- Disable this, because it makes deploys significantly slower --- #}
            {# Last build: <time datetime="{{ 'now' | currentDateTimeISO }}">{{ 'now' | currentDateTime }}</time> #}
        </p>
    </div>
</footer>
