<a href="#content" class="skiplink">Skip to main content</a>

{#
<!--[if IE]>
    <div class="inner">
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    </div>
<![endif]-->
#}

<header>
    <div class="inner">
        {% if page.url == '/' %}
            <h1>{{ general.site_name }}</h1>
        {% else %}
            <a href="/" class="site-name">{{ general.site_name }}</span></a>
        {% endif %}
    </div>
</header>

<nav>
    <div class="inner">
        {# <button aria-expanded="false" aria-controls="main-menu">Menu</button> #}
        <ul id="main-menu" class="header-links" {# hidden #}>
            {% for url, label in general.menu %}
                {% set active = '' %}
                {% if page.url == url or (general.parent[ type ] is defined and url == general.parent[ type ].url) %}
                    {% set active = 'active' %}
                {% endif %}
                <li class="header-links__item {{ active }}">
                    <a class="header-links__link" href="{{ url | url }}">
                        {{- label | safe -}}
                    </a>
                </li>
            {% endfor %}
            {% for url, label in general.menu_extra %}
                {% set active = '' %}
                {% if page.url == url %}
                    {% set active = 'active' %}
                {% endif %}
                <li class="header-links__item {{ active }}">
                    <a class="header-links__link--ghost" href="{{ url | url }}">
                        {{- label | safe -}}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>
