---
layout: layouts/base.njk
title: Runs
---

<grid>
    <c span="row">
        <h1>{{ title }}</h1>

        <ul class="compact">
            {% for run in collections.runs %}
                {% if loop.index0 < 99999 and run.data.runners | length === 1 %}
                    <li>
                        {% include "components/links/run-link.njk" %}
                    </li>
                {% endif %}
            {% endfor  %}
        </ul>
    </c>
    {#
    <c>
        <h2>2P Runs</h2>

        <ul class="compact">
            {% for run in collections.runs %}
                {% if loop.index0 < 99999 and run.data.runners | length === 2 %}
                    <li>
                        {% include "components/links/run-link.njk" %}
                    </li>
                {% endif %}
            {% endfor  %}
        </ul>
    </c>
    <c>
        <h2>3P Runs</h2>

        <ul class="compact">
            {% for run in collections.runs %}
                {% if loop.index0 < 99999 and run.data.runners | length === 3 %}
                    <li>
                        {% include "components/links/run-link.njk" %}
                    </li>
                {% endif %}
            {% endfor  %}
        </ul>
    </c>
    <c>
        <h2>4P Runs</h2>

        <ul class="compact">
            {% for run in collections.runs %}
                {% if loop.index0 < 99999 and run.data.runners | length === 4 %}
                    <li>
                        {% include "components/links/run-link.njk" %}
                    </li>
                {% endif %}
            {% endfor  %}
        </ul>
    </c>
    #}
</grid>
