---
layout: layouts/base.njk
---
{% import "components/macros.njk" as macros %}

<div class="grid">
    <div class="grid__content--wide">

        {#
        <div style="padding: 2em; background-color: #dee0e2;">
            <p>
                Watch
                <a href="https://www.youtube.com/channel/UCG8wOav28pu6mT9NXRlWohw">Team Darkside</a>
                at the
                <a href="https://esamarathon.com/">European Speedrunner Assembly</a>.
            </p>
            <a href="https://www.twitch.tv/videos/456001904">
                <strong>Watch the VOD on Twitch →</strong>
            </a>
        </div>
        #}

        <h2>Welcome Hunter!</h2>
        <p>
            This is the place to check out speedruns for <em>Monster Hunter World</em>, an action role-playing game developed and published by Capcom.
            Check out these hot quests:
        </p>
    </div>
    <div class="grid__row">
        {% set hotQuests = [
            { slug: '9★-a-whisper-of-white-mane'           , variant: 'arch-tempered' },
            { slug: '9★-the-deathly-quiet-curtain'         , variant: 'arch-tempered' },
            { slug: '9★-like-a-moth-to-the-flame'          , variant: 'arch-tempered' },
            { slug: '9★-the-eye-of-the-storm'              , variant: 'arch-tempered' },
            { slug: '9★-the-heralds-of-destruction-cry'    , variant: 'arch-tempered' },
            { slug: '9★-the-scorn-of-the-sun'              , variant: 'arch-tempered' },
            { slug: '9★-when-blue-dust-surpasses-red-lust' , variant: 'arch-tempered' },
            { slug: '9★-a-visitor-from-eorzea'             , variant: 'regular' },
            { slug: '9★-a-visitor-from-eorzea-extreme'     , variant: 'tempered' }
        ] %}
        <div class="card-list" style="grid-auto-rows: unset;">
            {% for hotquest in hotQuests %}
                {% set quest = collections.lookup.quest[hotquest.slug] %}
                <div class="quest-card">
                    <img
                        class="quest-card__image monster-icon variant--{{ hotquest.variant }}"
                        src="/assets/img/monster-icons/{{ quest.data.monsters | first }}.png"
                    />
                    <div class="quest-card__content">
                        <a href="{{ quest.url | url }}">
                            {{ quest.data.title }}<br>
                            {{ translationsQuests[hotquest.slug]['jpn'] }}
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="grid__content--wide">
        <h2>Submissions</h2>
        <p>
            You can now submit runners and runs (Arch-Tempered, Behemoth, Ancient Leshen and <a href="/quests/custom-quest/9★-delbuster-cup/">9★ Delbuster Cup</a>).
            <br>
            {# Personally, I find it it easier to use the external links if you want to submit more runs.<br> #}
            Submissions are <em>not</em> added to the site automatically. I try to import them as soon as possible.<br>
            Thanks for submitting runs!
        <p>
        <div>
            <a class="button" href="/submit-runner">Submit runner ⟶</a>
            <a class="button" href="/submit-run">Submit run ⟶</a>
        </div>
    </div>
</div>
