---
layout: layouts/base.njk
---

<div class="grid">
    <div class="grid__content--wide">

        {#
        <div style="padding: 2em; background-color: #dee0e2;">
            <p>
                Watch
                <a href="https://www.youtube.com/channel/UCG8wOav28pu6mT9NXRlWohw">Team Darkside</a>
                at the
                <a href="https://esamarathon.com/">European Speedrunner Assembly</a>.
            </p>
            <a href="https://www.twitch.tv/videos/456001904">
                <strong>Watch the VOD on Twitch →</strong>
            </a>
        </div>
        #}

        <h2>Welcome Hunter!</h2>
        <p>
            This is the place to check out speedruns for <em>Monster Hunter World</em>, an action role-playing game developed and published by Capcom.
        </p>
        <h2>Update</h2>
        <p>
            You can now submit runners and runs (only Arch-Tempered, Behemoth and <a href="/quests/custom-quest/9★-delbuster-cup/">9★ Delbuster Cup</a> for now):
        <p>
        <ul>
            <li><a href="/submit-runner">Submit runner</a></li>
            <li><a href="/submit-run">Submit run</a></li>
        </ul>
        {#
        <div style="padding: 1em; background-color: #dee0e2;">
            {% set video = "https://www.youtube.com/embed/xP1lNA_XQLk" %}
            {% include "components/video.njk" %}
        </div>
        #}
    </div>
    {#
    <div class="grid__row">
        <h2>Leaderboards</h2>
        <p>Coming soon!</p>
    </div>
    #}
</div>
