---
layout: layouts/base.njk
---
{% import "components/macros.njk" as macros %}

<div class="grid">
    <div class="grid__content--wide">
        <div class="hint hint--info">
            <p>Submissions will be closed when Iceborne for PC (January 9) comes out. Make sure to submit your final runs!</p>
            <ul>
                <li>
                    <strong><a href="https://docs.google.com/forms/d/e/1FAIpQLSdR-Pqxz3rwXeUSLqnYd0WIPgADWGh09H5B_l5d7vFIybZ1LA/viewform" target="_blank">Submit run</a></strong>.
                </li>
                <li>
                    <strong><a href="https://docs.google.com/forms/d/e/1FAIpQLSdZCXG6bFUTjKbdiuoKVmcAgrzH57CabjNP1Gdlcd3W-d96tg/viewform" target="_blank">Submit runner</a></strong>.
                </li>
            </ul>
        </div>
        <h2>Welcome Hunter!</h2>
        <p>
            This is the place to check out speedruns for <em>Monster Hunter World</em>, an action role-playing game developed and published by Capcom.
            Check out these hot quests:
        </p>
    </div>
    <div class="grid__row">
        {% set hotQuests = [
            { slug: '9★-a-whisper-of-white-mane'           , variant: 'arch-tempered' },
            { slug: '9★-the-deathly-quiet-curtain'         , variant: 'arch-tempered' },
            { slug: '9★-like-a-moth-to-the-flame'          , variant: 'arch-tempered' },
            { slug: '9★-the-eye-of-the-storm'              , variant: 'arch-tempered' },
            { slug: '9★-the-heralds-of-destruction-cry'    , variant: 'arch-tempered' },
            { slug: '9★-the-scorn-of-the-sun'              , variant: 'arch-tempered' },
            { slug: '9★-when-blue-dust-surpasses-red-lust' , variant: 'arch-tempered' },
            { slug: '9★-a-visitor-from-eorzea'             , variant: 'regular' },
            { slug: '9★-a-visitor-from-eorzea-extreme'     , variant: 'tempered' }
        ] %}
        <div class="card-list" style="grid-auto-rows: unset;">
            {% for hotquest in hotQuests %}
                {% set quest = collections.lookup.quest[hotquest.slug] %}
                <div class="quest-card">
                    <img
                        class="quest-card__image monster-icon variant--{{ hotquest.variant }}"
                        src="/assets/img/monster-icons/{{ quest.data.monsters | first }}.png"
                    />
                    <div class="quest-card__content">
                        <a href="{{ quest.url | url }}">
                            {{ quest.data.title }}<br>
                            {{ translationsQuests[hotquest.slug]['jpn'] }}
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
