---
title: News
layout: layouts/base.njk
pagination:
    data: collections.news
    size: 1000
    alias: posts
    reverse: true
    # addAllPagesToCollections: true
# permalink: /news/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}index.html
---

<grid>
    <c>
        <h1>News</h1>
        <ul class="compact">
            {% for post in posts %}
                <li>
                    <article>
                            <h2>{{- post.data.title -}}</h2>
                            <p>{{ post.data.teaser }}</P>
                            <a href="{{ post.url | url }}">Read more<span class="visually-hidden"> about {{ post.data.title }}</span></a>
                    </article>
                </li>
            {% endfor %}
        </ul>
    </c>
</grid>
